[2010-10-30 00:33] pepelsbey opened #1 "Embedded Iframes are stealing key navigation focus"
Possible solution:

[code]

[2010-10-30 00:36] pepelsbey opened #2 "Unstyled content in non-fullscreen mode"
All elements should be styled in “styles/screen.css”

[2010-10-30 00:39] pepelsbey opened #3 "Special type of links should be converted to iframes"
All links with “frame” class

[code]

should be converted to

[code]

…in presentation mode only.

[2010-10-30 00:45] pepelsbey opened #4 "Inner navigation"
There's should be a way to navigate between list items inside current slide. Kind of:

[code]

[2010-10-30 00:47] pepelsbey opened #5 "Russian localization of index.htm"
Maybe in this way:

index.en.htm
index.ru.htm
…etc.

[2010-10-30 00:49] pepelsbey opened #6 "Replace Consolas with open-licensed font"
Some day, some font… I have no ideas.

[2010-10-30 00:53] pepelsbey opened #7 "Shout animation problem in Webkit"
[code]

[2010-10-30 00:59] pepelsbey opened #8 "Enable Media Queries to adjust <body> font-size"
[code]

…etc.

[2010-10-30 01:02] pepelsbey opened #9 "Add methods and play button for non-fullscreen presentation mode"
This function should be optional
    function fullScreen() {
        return (
            window.screenX == 0 &&
            window.screenY == 0 &&
            screen.width == window.outerWidth &&
            screen.height == window.outerHeight
        ) ? true : false;
    }

[2010-10-30 01:07] pepelsbey opened #10 "Create script-based progress-bar"
…to help listeners to understand timing of presentation.

Maybe something like FF4 tabs progress bar, somewhere at the top.

[2010-10-30 09:35] #8 closed, assigned to nobody

[2010-10-30 11:09] #6 closed, assigned to nobody

[2010-10-31 17:18] #2 closed, assigned to nobody

[2010-10-31 21:13] olegdenisov opened #13 "Полноэкранный\неполноэкранный режим в ff 3.6.10"
В неполноэкранном режиме страница отображается не очень приятно, т.е. не как в опере. Складываются ощущения что стили не применились.

[2010-11-01 13:49] pepelsbey opened #15 "Test screenX and screenY on dual displays configuration"
Suddenly, screenX on second display might not be equal to zero:
    function fullScreen() {
        return window.screenX == 0 &&
            window.screenY == 0 &&
            screen.width == window.outerWidth &&
            screen.height == window.outerHeight;
    }

[2010-11-03 00:43] dstorey opened #16 "Add syntax highlighing to code samples"
It would be nice for the code samples to be automatically syntax highlighted. Perhaps using http://shjs.sourceforge.net/

[2010-11-03 01:10] #3 closed, assigned to nobody

[2010-11-03 01:10] #9 closed, assigned to nobody

[2010-11-03 01:11] #15 closed, assigned to nobody

[2010-11-03 14:03] #13 closed, assigned to nobody

[2010-11-03 14:03] #1 closed, assigned to nobody

[2010-11-07 22:59] pepelsbey opened #17 "Create slideshow mode"
[code]

means “display this slide for a 2 minutes and 30 seconds and go to the next slide”

[2010-11-15 22:17] #16 closed, assigned to nobody

[2010-11-16 06:07] #10 closed, assigned to nobody

[2011-04-27 12:21] kizu opened #20 "Add support for theming"
Right now the CSS for slides' design is not separated from all other styles, so overriding all these styles is somewhat a problem.

I think, you should separate all the presentational styles (colors, backgrounds, rounded corners, etc.) from all other styles, so anyone could easily create themes for Shower.

[2011-06-02 03:44] Athtar opened #23 "Add Support for Nested Lists"
Looks like there currently is no way to create nested lists as part of the slide content.

[2011-06-02 09:02] #23 closed, assigned to nobody

[2011-06-17 09:57] kizu opened #24 "Add link to #hash of slide to header"
There is no way to get a hash of a slide when not in slideshow mode.

The header of each slide is a good place for link to it.

[2011-06-17 09:59] kizu opened #25 "Need control to run slideshow from any slide"
Subj. For example, add this action to link in addition to https://github.com/pepelsbey/shower/issues/24

[2011-07-12 11:23] #7 closed, assigned to nobody

[2011-07-12 12:43] kizu opened #26 "Spoilers (Shower 2)"
With the new slide picker there can be the following problem: in first run you can accidentally spoil some slides that viewers didn't see for that moment.

Maybe for the first run hide all the thumbnails with some kind of veil and show it when the slides were showed in presentation mode? This could also help to show some previous slide without spoilering some of the next when switching back to sli

[2011-07-12 12:47] kizu opened #27 "Slide picker on 13″ screen (Shower 2)"
On 13″ screen of Snow Leopard (with an old scrollbar) there is only one slide per line, however there is almost enough space for one extra slide.

[2011-07-12 12:50] kizu opened #28 "Print version?"
It'd be super cool if you'd manage to make a print stylesheet that would make print version look almost like the actual presentation.

With that you could easily convert Shower presentation to pdf just by printing it to pdf on mac.

[2011-07-12 13:15] kizu opened #29 "Auto font-size adjust or splitting by parts"
When there is a lot of content on a slide there is no way to see it right now.

We can detect by js if the content don't fit in a slide and  then there can be at least two solutions:
1. Adjust font-size of content so you could always see the whole slide.
2. Create sub-slides automagically, so there would be some sigh that the slide is not fully showed like ellipsis and when you press «next slide»

[2011-07-12 13:19] kizu opened #30 "History bug (Shower 2)"
When going back from #blah to # (from slide in presentation mode back to slide picker) using history (browser's “back” button) at least in Safari there is a black slide without anything except the empty slider on it. The expected behavior is to go back to slide picker instead.

[2011-07-16 11:58] #20 closed, assigned to nobody

[2011-07-16 11:58] #25 closed, assigned to nobody

[2011-07-16 11:58] #27 closed, assigned to nobody

[2011-07-16 12:04] pepelsbey opened #31 "Horizontal scrollbar in Webkit after full mode"
Steps to reproduce:
- Go to full screen mode
- Exit full screen mode

Possibly caused by margin-left:200% for hiding slides in full screen mode.

[2011-07-16 12:07] pepelsbey opened #32 "Extra padding at the bottom of the list view in Firefox"
Caused by transform, could be solved by `.slide { overflow:hidden }` but this is not acceptable due to generated page numbers positioned outside of slide.

[2011-07-16 12:14] pepelsbey opened #33 "Broken current slide focus in the list view in Opera"
Caused by `transform`, could be solved only by removing `transform`, but still not reproducible in clean conditions.

Normal behavior of the anchor focus is kind of limited by viewport height, that might be important.

[2011-07-16 15:11] #31 closed, assigned to nobody

[2011-07-16 15:11] #32 closed, assigned to nobody

[2011-07-16 15:23] #33 closed, assigned to nobody

[2011-07-16 16:30] pepelsbey opened #34 "Replace em/strong with mark.class for code highlighting"
It would be much better in semantic point of view.
Something like:

`<em>` — `<mark class="less-important">`
`<strong>` — `<mark class="more-important">`

With better class names, of course.

[2011-07-17 12:48] matiaskorhonen opened #35 "Please add an explicit license"
Please add an explicit license to the project so that I know if I can use this or not… Without a license file every person wanting to use Shower would theoretically require explicit permission from you.

I'd suggest the [MIT License](http://www.opensource.org/licenses/mit-license.php), if you don't have a preference for some other license.

[2011-07-17 13:22] #34 closed, assigned to nobody

[2011-07-17 15:51] BRMatt opened #37 "Shout text is half-hidden if loaded directly in fullscreen"
e.g.

![text](http://dl.dropbox.com/u/176888/Screenshots/Screenshot-Shower%20-%20Google%20Chrome.png)

Whereas this is how it looks if you access it via the slide navigator:

![](http://dl.dropbox.com/u/176888/Screenshots/Screenshot-Shower%20-%20Google%20Chrome-1.png)

[2011-07-17 18:10] marianoguerra opened #38 "create a slide tag using html shim technique"
I see lot of &lt;div class="slide"&gt; maybe you could create the <slide> tag using the same technique that html5shim uses?

it would be much cleaner

http://code.google.com/p/html5shim/

[2011-07-17 19:24] #38 closed, assigned to nobody

[2011-07-17 20:51] #35 closed, assigned to nobody

[2011-07-18 06:45] apoleshchuk opened #39 "safari 5.1 fullscreen"
в cафари 5.1 полноэкранным режимом можно управлять через javascript и css
пример, который пробовал - https://gist.github.com/1088696
в os x SL скрывает все элементы полностью, включая адресную строку и вкладки

[2011-07-20 07:12] Athtar opened #40 "First slide is blank in IE9"
When you go to the first slide in IE9, it shows a blank page (with the progress bar at the bottom) instead of displaying the Cover page.

[2011-07-20 07:15] #40 closed, assigned to nobody

[2011-07-20 23:34] #30 closed, assigned to nobody

[2011-07-21 11:45] pepelsbey opened #41 "Lack of hash in fullscreen causes black screen"
[For example](http://pepelsbey.github.com/shower/?full) — there's should be first slide.

[2011-07-25 15:18] ghost opened #42 "pepelsbey.github.com/shower is not available"

[2011-07-25 16:34] #42 closed, assigned to nobody

[2011-07-26 05:46] pepelsbey opened #43 "Support mobile devices"
Example code:

[code]

See also: https://github.com/alexyoung/turing.js/blob/master/turing.touch.js

[2011-07-26 05:47] #5 closed, assigned to pepelsbey

[2011-07-26 09:07] #41 closed, assigned to jahson

[2011-07-27 18:00] eoghanmurray opened #44 "ref to 'ttf' instead of 'woff'"
https://github.com/pepelsbey/shower/blob/new/themes/ribbon/styles/fonts.css#L21

The URL references .Italic.ttf, but the format is 'woff'

[2011-07-27 18:17] #44 closed, assigned to nobody

[2011-08-10 12:49] #37 closed, assigned to nobody

[2011-08-24 09:02] okertanov opened #45 "There are two files with DOS-style CRLF"
license.txt
pictures/semantics.svg

[2011-08-24 16:25] #45 closed, assigned to jahson

[2011-08-26 21:45] miripiruni opened #46 "Go to slide №"
I want to be able to go to slide number n, by entering the number.

It seems to me a beautiful traveling INPUT, which appears on Ctrl + G (type "go to...") and stuck (fixed) close to the top of the page.

[2011-09-05 13:14] karlcow opened #47 "Position of text in full screen images slide"
It would be good to have the possibility to choose the position of the text when the page has full screen image. It could be quarter of the page, defined zone. Right now I positioned with margins. Another possibility would be a local reference systems in percentage.

[2011-09-05 13:17] karlcow opened #48 "Having a background for text in some circumstances"
Sometimes the text will not be fully readable with an image in the background. Having a background with opacity would help to make the text readable and/or a shadow to the text that will help to create more contrasts.

[2011-09-05 13:20] karlcow opened #49 "An article for this presentation."
The full content being in one page is quite cool. And it could be directly a full long article talking about the content. A person would have then the choice to read the article or to look at it in slideshow mode hiding most of the content.

[code]

   .articlecontent { display:none;} in slideshow mode.

DRY: Write it once and use it in different contexts. People after the conference being able to

[2011-09-19 15:06] timjb opened #51 "Keep existing querystring parameters"
Shower shouldn't replace all querystring parameters with `?full` when entering single slide mode. It should rather add `&full` to the querystring.

[2011-09-26 14:03] #51 closed, assigned to nobody

[2011-12-15 12:16] pepelsbey opened #52 "Create thumbs mode"
There's `<body class="list">` mode with 512x320 thumbnails. It's good for reading and browsing through the slides. But it would be great to have “thumbnails” mode only for browsing when you need to pick the right slide quickly. So it's the question of additional class name to the body (because it's just a minor change)

[code]

and small changes in Ribbon theme:

[code]

There will be also reading

[2012-01-22 16:07] al6x opened #53 "List of available themes?"
It would be nice to have a list of available themes and presentations made with shower.

Maybe in readme or in wiki?

[2012-01-22 16:09] #53 closed, assigned to nobody

[2012-02-01 04:43] jahson opened #54 "Fullscreen API support"
http://hacks.mozilla.org/2012/01/using-the-fullscreen-api-in-web-browsers/

[2012-02-13 08:04] h4 opened #55 "Links in th-mode does'nt work"
For example: i read http://pepelsbey.net/pres/dynamic-graphics/#SVGSuperIcon in th-mode and see «Super Icon» link. Cmd+click and... i see this slide in full screen mode, not new tab.

[2012-02-13 08:22] #55 closed, assigned to nobody

[2012-02-18 00:45] #49 closed, assigned to nobody

[2012-02-18 00:45] #48 closed, assigned to nobody

[2012-02-18 00:56] pepelsbey opened #56 "Empty black slide after pressing Enter"
Something is wrong here:
- Go to http://pepelsbey.github.com/shower/en.htm
- Press `Enter`
- Pres `Esc`

On the step 2 you'll see empty slide, on the step 3 url will be changed to the last slide ID but without blue outline on the actual last slide.

I guess it should be:
- on the step 2 nothing should happen because no silide is selected (outlined and presented in url by hash ID)
- which automatic

[2012-02-21 17:35] miripiruni opened #57 "Allow to get PT fonts from Google CDN"
If user online do request:

`<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet" type="text/css">`

if user offline load fonts from shower library

PS See: http://www.google.com/webfonts#UsePlace:use

[2012-02-24 12:30] pepelsbey opened #58 "Zero .active elements inside .inner causes JS error"
If there's no elements with `.active` inside inner navigation block

[code]

 then:

[code]

[2012-02-29 00:24] pepelsbey opened #59 "Implement support for slide transitions"
Something like that: http://jsfiddle.net/pepelsbey/W7DsB/

Basic principle here is: all previous slides to the current have additional class name `passed`

I think it wouldn't be a problem in current architecture.

[2012-02-29 13:36] pepelsbey opened #60 "Make slide ID optional"
Actually slide ID is useful only for special styling, so it would be good to add slide ID only when needed. And we can generate slide IDs in lack of existing ones:

[code]

We can use just a number for a slide ID as numbers without letter prefixes are allowed as ID values in HTML5. But seems like this approach doesn't work with current inner navigation implementation (it stuck on slide with inner

[2012-02-29 14:38] #52 closed, assigned to jahson

[2012-03-01 04:59] #56 closed, assigned to jahson

[2012-03-01 05:07] #58 closed, assigned to jahson

[2012-03-01 05:09] #4 closed, assigned to jahson

[2012-03-01 05:26] #60 closed, assigned to jahson

[2012-03-01 09:39] pepelsbey opened #61 "Insert progress by script depending on data-progress attr for body"
Currently progress could be removed this way:

[code]

But empty element could confuse authors. So it would be better to insert `<div class="progress"><div></div></div>` via script if there's boolean `data-progress` attribute on `<body>`

[code]

[2012-03-01 21:53] pepelsbey opened #62 "Timer should be reseted while switching to List mode"
Timer should be definetely paused (on leaving full mode and resumed on entering) or just disabled — what would be easier to implement.

[2012-03-01 22:23] pepelsbey opened #63 "Inner navigation should be also triggered by space key"
So I guess this code should be moved to the separate function or something like that:

[code]

[2012-03-01 22:37] pepelsbey opened #64 "It should be possible to go back in the inner navigation"
Imagine: you're presenting and suddenly pressing next button twice and you see the next `next` item that's not ready to be revealed. You should be able to say “oops” and make a step backward. But this should be possible only in context of the current slide.

Even if the  last `next` item is revealed but you're still on the current slide you should be able to go back to the previous `next` item. Bu

[2012-03-01 22:44] #39 closed, assigned to nobody

[2012-03-01 22:55] pepelsbey opened #65 "Slideshow navigation breaks after return to previous slide"
1. Open http://pepelsbey.github.com/shower/en.htm?full#Cover
2. Wait 5 sec for the second slide
3. Press back, wait 5 sec

And you'll see the third slide, not second.

[2012-03-04 11:47] pepelsbey opened #66 "Flag to exclude slides from full view"
List view actually could be used also for reading slide contents or adding slide notes, not just for observing thumbnails. So it would be super useful to make special exclusion flag to remove slide from presentation in `full` mode. Something like:

[code]

I guess it's the matter of extra `if(x)` for the slides initialization process.

[2012-03-07 16:40] pepelsbey opened #67 "API to control Shower by postMessage"
It would be great to put Shower inside `<iframe>` under the presentation video and syncronize it with video or just attach controls to manually turn slides.

See [DZSlides](http://paulrouget.com/dzslides/) as example:

[code]

 https://github.com/paulrouget/dzslides/blob/master/template.html#L311

[2012-03-14 21:55] pepelsbey opened #68 "Add links detection for the list mode"
…to make links clickable not only in fullscreen mode because thumbnail view is just an option for the current theme, slides could be full-sized.

See

[code]

https://github.com/bartaz/impress.js/blob/master/js/impress.js#L467

[2012-03-23 08:11] kizu opened #69 "Optional disabling of looping"
Right now when you're on the last slide, stepping forward brings you to the first slide.

I think there can be an ability to disable this behavior, so you won't occasionally start all over again by pressing forward on the last slide.

[2012-03-23 22:09] kizu opened #70 "localStorage messaging"
It's a thing that can be used to add some nice features to Shower.

There are some articles on this issue, [here is one](http://www.codediesel.com/javascript/sharing-messages-and-data-across-windows-using-localstorage/) for example.

The point is to add ability to open multiple windows for the presentation, so you could send one, with the presentation, to the projector, and open another on the not

[2012-03-23 22:12] kizu opened #71 "Serverless web-based remote app"
Apart, or maybe instead of #70, you could run a server on the desktop with the presentation, so you could open another window with some controls for the presentation. The features are the same as in the #70, however you could control anything from any mobile device connected to the same network as the desktop with the presentation.

In that way you could even make web-based remote with any UI you

[2012-03-23 22:59] #70 closed, assigned to nobody

[2012-03-27 19:09] ai opened #77 "Callback for slide and mode changes"
It will be good to allow external JS know that Shower change slide or open list mode. For example:

[code]

I don’t create pul request, because it’s API question. If you agree with this API, I will patch Shower.

Now I need to use `onpopstate`, `onhashchange` and override `pushState` and `replaceState`.

Second question is about jQuery. Why are you don’t use it? :) I ask, because it have very usef

[2012-04-05 08:52] #69 closed, assigned to jahson

[2012-04-05 09:18] #68 closed, assigned to jahson

[2012-06-01 15:56] morozov opened #78 "Shower is incompatible with highlight.js"
Maybe this should be fixed in [highlight.js](http://github.com/isagalaev/highlight.js) itself, but now only the first line of code (actually the first <code>&lt;code&gt;</code> element is highlighted). Is it possible to implement code numbering without need to add a <code>&lt;code&gt;</code> element for each line of code?

[2012-06-02 06:02] #78 closed, assigned to nobody

[2012-09-15 02:40] istathar opened #81 "When on last slide, seem strange to loop back to beginning"
When you're at the last slide, pressing Right takes you back to the beginning. This seems strange; if you're at the end you should stay at the end; if you want to go to the start that's what Home should do.

If you're wedded to the current behaviour, then perhaps it could be optional?

AfC

[2012-09-15 10:02] #81 closed, assigned to nobody

[2012-09-27 12:46] #65 closed, assigned to jahson

[2012-09-27 13:02] pepelsbey opened #82 "F5 should start presenation"
Currently it's listed along with `Enter` so both of them works only if any slide is selected:

[code]

[2012-10-04 12:54] pepelsbey opened #83 "Visited class names for inner navigation"
Currently we have this classes for slide navigation:

[code]

And it would be great to have similar system for inner navigation, currently it's something like that:

[code]

So:
1. Align names with the same convention
2. Add “visited” or “passed” class name for inner navigation

[2012-10-13 19:24] #28 closed, assigned to nobody

[2012-10-18 11:52] pepelsbey opened #85 "Plain JS style[scoped] polyfill to enable per slide styling"
To make `<h2>` color white:

Now:

[code]

Imagine this:

[code]

Key points:
- No ID needed
- In place editing without jumping to head and back

You can try scoped support in Chrome (19+) by enabling “Enable experimental WebKit features” in chrome://flags/

Wouldn't that be great?
- https://github.com/thingsinjars/jQuery-Scoped-CSS-plugin
- http://thingsinjars.com/post/359/css-scoped/
- http://th

[2012-10-20 13:38] #85 closed, assigned to nobody

[2012-11-07 17:29] josefnpat opened #89 "Add Autoplay"
I was just using this for a client, and one request was an autoplay feature. Specifically the client also wanted the last slide to be unavailible unless the "end" button was pushed. Here is the code I added at the end of my index (It's a little raw);

[code]

I am willing to clean the autoplay feature up, and submit a pull request if you would like. Please tell me if this is a feature you are inte

[2012-11-07 18:00] pepelsbey opened #90 "Full screen mode trigger"
By default list mode is the only available option to start Shower presentation:

[code]

Even if `list` class name is removed, it would be set back by script.

But there should be a way to launch Shower in a full screen mode by default. And it should be as simple as this:

[code]

Currently `full` class name is just removed on initialization step.

Theoretically it could even help to set up autopl

[2012-11-07 18:21] #89 closed, assigned to nobody

[2012-12-08 19:08] #82 closed, assigned to miripiruni

[2012-12-08 21:42] pepelsbey opened #92 "Second GET parameter breaks full screen mode"
This URL should switch Shower to full screen mode, but it doesn't: `?full&blah#1`

[2012-12-10 09:22] #92 closed, assigned to nobody

[2012-12-12 21:29] pepelsbey opened #95 "“Cmd Alt P” shortcut to start presentation"
For Keynote and Apple-targeted remotes compatibility.

It should _only_ start presentation from the first slide or from the current if there's one — just like PPT's `Shift F5` with the only difference: Cmd Alt P doesn't toggle presenation, it _only_ starts.

Note: it should work both with left (91) and right (93) Cmd keys.

[2012-12-12 21:46] pepelsbey opened #96 "Digit keys for “Go to slide” dialog"
Here's use case, stolen from Keynote.

Pressing 0-9 key should open prompt dialog prefilled with pressed key. You can press `Enter` to confirm slide change or `Esc` to close it. Something like this:

[code]

Sample variable `pressedKeyDigitValue` should contain actual digit I pressed. It could be also possible to type double (triple?) number composed from the keys pressed with short delay, half a

[2012-12-12 21:58] pepelsbey opened #97 "B for black mode"
Something like **B** (black) or **W** (white) modes in PowerPoint or Keynote. There's no special need in W mode, but B could be useful. B is actually toggling between black screen and current slide, but not really toggling… it's complicated :)

So this feature request contains of three points:
- It's should be possible to go to `?full` mode without switching to the first slide.
- B should switch t

[2012-12-13 08:34] miripiruni opened #98 "Create shower.min.js"

[2012-12-13 08:44] #46 closed, assigned to nobody

[2012-12-13 08:47] #17 closed, assigned to nobody

[2012-12-13 08:59] pepelsbey opened #99 "Inner navigation should be also controlled by slide timing"
Inner navigation should use its parent `data-timing` divided by number of `.next` elements as timing.

But the question is: should it be next_gap next_gap… or gap_next gap_next? In case with `data-timing='"5"` and 5 `.next` items each gap would 1 sec and in next_gap there will be no gap at the beginning or in gap_next at the end.

Maybe data-timing should be divided by `.next+1` to kind of… wrap w

[2013-01-05 12:02] pepelsbey opened #103 "Touch navigation doesn't trigger inner navigation"
@jahson, is it something that could be easily fixed?

https://github.com/shower/shower/blob/master/shower.js#L651

[2013-01-05 12:06] pepelsbey opened #104 "Double tap in full mode should switch preso to list mode"
The same as `Esc` shortcut, as currently there's no way to exit full mode on mobile devices.

[2013-01-15 22:05] pepelsbey opened #105 "Rename passed & current slide classes"
According to #83 resolution it should be

[code]

…to be aligned with CSS link states.

[2013-01-15 22:14] #66 closed, assigned to jahson

[2013-01-18 14:10] #77 closed, assigned to nobody

[2013-01-19 21:55] #103 closed, assigned to jahson

[2013-01-19 21:56] #63 closed, assigned to jahson

[2013-01-19 21:56] #98 closed, assigned to miripiruni

[2013-01-19 23:23] #105 closed, assigned to nobody

[2013-01-20 10:34] #90 closed, assigned to miripiruni

[2013-01-20 11:39] #62 closed, assigned to jahson

[2013-01-20 19:51] pepelsbey opened #113 "Timer disabled in List mode should be active again in Slide mode"
Steps to reproduce:
1. Go to slide with timer in Slide mode
2. Press Esc before switching to next slide
3. Press Enter to switch back to Slide mode
4. Wait… wait… Nothing

[2013-01-20 22:55] pepelsbey opened #114 "Rename all current/passed methods to active/visited"
…as far as CSS classes has changed from current/passed to active/visited. Related code part:

[code]

[2013-01-21 00:19] pepelsbey opened #115 "Rename .forkme to .badge and make it clickable"
It could be “Powered by Shower“ badge, so `forkme` class name is not relevant anymore. Plus it's unclickable now, maybe because of visibility trick or because of transformation. Anyway it should be clickable.

[2013-01-21 15:10] pepelsbey opened #116 "Navigation in List mode doesn't update progress bar"
Steps to reproduce:
1. Go to shwr.me
2. Press Right 5 times
3. Press Enter
4. Reload page
5. Compare progress bar on steps 4 and 5

[2013-01-21 16:23] #116 closed, assigned to miripiruni

[2013-01-21 18:24] pepelsbey opened #117 "All links on presentation page (outside of slide) are unclickable"
Steps to reproduce
1. Open http://shwr.me
2. Click “Fork me” badge or author name under title

[2013-01-21 21:30] #114 closed, assigned to miripiruni

[2013-01-21 21:32] #115 closed, assigned to pepelsbey

[2013-01-22 12:28] cornae opened #118 "Auto start video"
It would be great if if video in a simple video tag could start to play automatically as soon as the slide it is on is active and restart the video each time the slide is revisited.

Perhaps a dedicated autoplay class on the video tag could be used for that. The autoplay attribute can't be used, as it would start to play the videos already in list mode.

[2013-01-22 12:50] cornae opened #119 "Swipe doesn't work with video"
When I'm playing HTML5 video that is the size of a slide on a slide, then slide navigation no longer works.

[2013-01-22 14:42] cornae opened #120 "Blurry SVG in webkit"
Webkit does unfortunately not re-render SVG graphics when zooming then up with CSS transforms. I use SVG extensively in my presentations on screens of various resolutions and would therefor be very happy if the SVGs would remain crisp.

Perhaps it's an idea to build in an option to use the `zoom: x` CSS property instead of `transform: scale(x)` on the body tag for webkit browsers in .full mode.

W

[2013-01-28 13:34] cornae opened #121 "Shower skips every second slide"
If I walk to my presentation when also [Patterns lib](https://github.com/Patternslib/Patterns) is included, then it skips every other slide when navigating between slides with the arrow keys. It's described in [ticket 231](https://github.com/Patternslib/Patterns/issues/231) in Patterns, which points to a possible bug in Shower JS.

It renders all my presentations useless at the moment and I cannot

[2013-01-28 17:31] #24 closed, assigned to nobody

[2013-01-28 18:05] #26 closed, assigned to nobody

[2013-01-28 18:34] #117 closed, assigned to miripiruni

[2013-01-28 22:53] #113 closed, assigned to miripiruni

[2013-02-07 08:39] #121 closed, assigned to miripiruni

[2013-03-06 13:42] wichert opened #125 "Console should not be cleared unless entering presentation node"
Currently shower clears the console on initial page load by enterListMode(). As a result all important log entries (javascript errors, missing images, etc.) are removed before anyone can see them.

I suggest to only clear the console when entering slide mode.

[2013-03-07 08:40] #54 closed, assigned to nobody

[2013-03-07 08:43] #57 closed, assigned to miripiruni

[2013-03-07 08:47] #83 closed, assigned to nobody

[2013-03-07 08:48] #43 closed, assigned to jahson

[2013-03-07 09:03] pepelsbey opened #128 "Data attribute for body to store options"
For example, it could be `<body data-options="progress fullscreen">` for #127 and #61 and anything else. Class attribute shouldn't be polluted by anything else except theme mode triggers.

So there's should be options parser.

[2013-03-12 09:32] kizu opened #129 "Remove large files from history"
Right now the `shower` and `ribbon` themes are somewhat large when you're cloning them (`7.24 MiB` and `7.73 MiB`).

It could be large images from `/pictures/` and fonts. As far as I know there is a way to clean git's history, so when you clone repo you won't have all those unneeded megabytes downloaded.

[2013-03-29 11:54] wichert opened #130 "Shower breaks when loaded from <head>"
Yes - I do know loading javascript in `<head>` is best practice, but I see it happening when people use bundles early to make sure HTML5 shivs are loaded as required by IE.

When you load Shower from `<head>` and you are very unlucky the browser may not have gotten to parsing `<body>` yet, and as a resultl `document.body` is `null`, which makes Shower quite unhappy. The result is a bunch of `Uncau

[2013-04-01 09:41] azproduction opened #131 "Pluginability of Shower"
A few days ago I wrote an [Shower Remote](https://github.com/azproduction/shower-remote). And I had some problems with Shower.
- I want to know when shower calls next() or prev()
- I want to know when shower enters full screen mode
- I want to disable shower events in "Slave Mode" of Remote

Now I have to listen for bunch of events like `keydown`, `click`, `touchstart`, `hashchange` and do [crazy

[2013-04-02 21:30] pepelsbey opened #132 "Incorrect data-timing value is not handled properly"
`<section data-timing="5">` instead of `<section data-timing="0:5">` causes weird navigation jumping, like immediate slide switching.

[2013-04-03 19:20] htmlhero opened #133 "Back button bug on shwr.me"
I chose the slide from the first screen, and then hit the "Back" button. In Chrome and Firefox slides to be larger than necessary and not properly aligned.

[2013-04-05 09:41] smth opened #134 "Inside Existing Page"
Should it be easy to insert Shower into an existing page? I have just given this a go, using the default styles (stripping out the reset stuff), and it's giving me all sorts of problems.

[2013-04-05 16:23] #134 closed, assigned to nobody

[2013-04-05 23:38] pepelsbey opened #135 "Support IE10 pointer events"
[code]

[Source](http://www.developer.nokia.com/Blogs/Code/2013/04/02/touchy-feely-with-dom-events-rethinking-cross-device-user-interaction/)

[2013-04-16 10:10] dudeonthehorse opened #136 "IE10 Slider view & font rendering"
Вадим, приветствую.

Опробовал shower, в целом очень здорово. Смущает лишь рендеринг PT Sans. Много артефактов, отсутствует сглаживание (последний Chome). Хотя в full screen mode браузера все здорово.

Насчет IE10 (win8 desktop) - показывает лишь список слайдов и не переходит в режим показа одного слайда.

---

Hello, Vadim

Tested the shower, very cool. Only confuses rendering PT Sans. Many artif

[2013-04-16 10:23] #136 closed, assigned to nobody

[2013-05-05 11:39] pepelsbey opened #137 "Clean up minified version from “gimme errors”"
Right now `shower.min.js` contains up to 600 bytes of useless code such as (expanded version)
[code]
I wonder if it's really useful to throw errors instead of doing `return`? I'm pretty sure that nobody would ever see `You can't scroll to because you in slide mode. Please, switch to list mode.` error. @miripiruni, is it something common for such code and _really_ useful?

So there are two options,

[2013-05-08 09:02] #99 closed, assigned to miripiruni

[2013-05-08 09:02] #64 closed, assigned to miripiruni

[2013-05-10 15:10] #132 closed, assigned to miripiruni

[2013-05-10 16:11] pepelsbey opened #139 "Shift F5 combination is broken"
1. Go to shwr.me
2. Press Shift F5
3. See console

[code]

When there's no current slide something is not available under [case 116: // F5](https://github.com/shower/shower/blob/master/shower.js#L811).

[2013-06-18 09:27] arky opened #143 "Printing in Firefox"
Printing the presentation using Firefox causes problems. The slides  span multiple pages instead of printing one per page. It works fine in Chrome.

Tested with Firefox nightly (nightly.mozilla.org) on Ubuntu Linux.

![shower-presentation](https://f.cloud.github.com/assets/808895/667695/e1bed50c-d7f8-11e2-95cf-dc971a400abb.png)

[2013-06-18 09:37] #143 closed, assigned to nobody

[2013-06-19 08:54] jonayoung opened #144 "Slide with autotiming"
Hi there,
  I'd like to use shower to run a digital signage presentation screen. To this I need the following:
- Ability to auto start on slide 1 / the cover slide
- Ability to auto advance on pre-set timings.

Looking at the javascript source it looks like this is possible, but I can't quite work out how / where to set this information.

Any help much appreciated......

Thanks
Jona

[2013-07-11 19:13] #139 closed, assigned to pepelsbey

[2013-08-07 10:06] #144 closed, assigned to nobody

[2013-09-14 13:40] thierrymarianne opened #148 "Mouse navigation"
Hello,

I have extended the `click` event listener to handle navigation in slide mode.

Would you be so kind to provide me with a bit of feedback? A code review, maybe?

https://github.com/thierrymarianne/shower/commit/69b4002fa636ed63e28e8418bc3102ca364eb08e

[2013-09-28 08:44] tomer opened #150 "Running presentation in infinite/circular mode"
For a presentation I am working on, I'd like to leave a presentation to run unattended, i.e., slides will progress automatically and the presentation will never reach the final slide.

It is possible to set slides to progress automatically by setting a data-timing attribute for every slide. I suggest having a default property for timing in the presentation level (while timing=0 mean no progress),

[2013-09-28 08:45] tomer opened #151 "Presentation timing based on user activity"
For a presentation I am working on, I'd like to leave a presentation to run unattended. Currently I've set slides to continue automatically by setting data-timing attribute to 10 seconds on each slide which is acceptable for an unattended presentation.

While the presentation has some links, and support keyboard navigation, it is possible the a user or a booth staff will want to interact with the

[2013-09-28 09:02] #95 closed, assigned to nobody

[2013-09-28 09:03] #128 closed, assigned to nobody

[2013-10-08 08:11] kizu opened #152 "Bug: wrong anchors break Shower"
If you'd open any Shower presentation, go to full screen mode and then change the anchor in the url to a non-existing one, Shower breaks — it shows the black screen, the list mode (if you'd escape to it) become broken visually and you can't go to the fullscreen mode from it.

I know two cases when this could happen:
1. Your presentation is online, you or someone gave a link to a fullscreen version

[2013-10-12 17:39] #125 closed, assigned to miripiruni

[2013-11-08 11:02] mnapoli opened #158 "Document how to write slides"
Hi there,

I just wanted to give you feedback from a user who just discovered the project. I've seen the online presentation, I've read the readme, I've read the wiki, but I still have no idea how it works...

I've used reveal.js and from the first slide of the website (http://lab.hakim.se/reveal-js/#/1) I know that I write my slides in HTML.

But with shower, I have no idea. The closer thing I go

[2013-11-08 14:54] #158 closed, assigned to nobody

[2013-11-10 09:46] robocop-bob opened #159 "how to(?): iframe fit to full slide size"
Hi ,

I have trouble to fit external html page to slide size.
For images --- .cover works fine ...

If I use .cover ... there huge margins...

iframe frameborder="0" padding="0 0 0" width="100%" height="100%" src="http://www.onet.pl"></iframe

![screen shot 2013-11-09 at 7 41 51 pm](https://f.cloud.github.com/assets/3903647/1508327/dbd1ee84-49ec-11e3-99e0-aa8a55a7c2f4.png)

Can you advise?

Thank

[2013-11-11 11:57] #159 closed, assigned to nobody

[2013-11-11 12:01] #148 closed, assigned to nobody

[2013-11-14 23:17] robocop-bob opened #160 "font size for list"
Hi,

I have issue with font size change.
My code is:

![screen shot 2013-11-15 at 12 14 05 am](https://f.cloud.github.com/assets/3903647/1546246/8407821a-4d82-11e3-904c-806a81016836.png)

but wen I show slides list (li) are always 500% size. As I understand code slide-3 should have font size 50% and slide-4 should have font size 500%.

Can you help?

Thank you in advance
Robert

[2013-11-15 07:10] #160 closed, assigned to nobody

[2013-11-17 18:17] PovilasID opened #161 "DIV Reload on slide open"
I am trying to add some bling to my slides by adding google animated charts (something like this: http://jsfiddle.net/h7mSQ/).
Quick and easy way to add javaScripts to anchor it to some div load and the load that div on slide opening.
I am a noob in front end development :D So if there is a better way of doing is please guide me to the right path.

[2013-11-20 20:54] ramnathv opened #162 "Google Motion Chart not Clickable in Shower"
I am trying to embed a Google Motion Chart in Shower. The chart shows up, but is not clickable. I have tried this with other slide frameworks like Google IO 2012 and it works. I am unable to figure out what conflict is causing this problem.

Here is my [html source](https://gist.github.com/ramnathv/bdf53562fa9a53f05b4c/raw/bf2859f5603c56b7122ff4c86d3278d930ec0d23/index.html) and the resulting [sli

[2013-11-26 14:39] robocop-bob opened #163 "how to two images in cover"
Hi

I have a question related to cover object.

I want put two images in cover object: 1 image as a  background and second image as a small logo in right corner. Shower shows last image as background...
![screen shot 2013-11-26 at 3 35 18 pm](https://f.cloud.github.com/assets/3903647/1622603/653d78c4-56a8-11e3-9261-2bb65dd2e7a9.png)

Can you help  ?

Best regards
Robert

[2013-11-26 15:32] robocop-bob opened #164 "how to two images in cover"
Hi

I have a question related to cover object.

1) I want put two images in cover object: 1 image as a  background and second image as a small logo in right corner. Shower shows last image as background... :)
![screen shot 2013-11-26 at 3 35 18 pm](https://f.cloud.github.com/assets/3903647/1622603/653d78c4-56a8-11e3-9261-2bb65dd2e7a9.png)

2) how to show ribbon.svg in cover ?

Can you help  ?

Bes

[2013-11-27 11:39] #164 closed, assigned to nobody

[2013-11-27 11:40] #163 closed, assigned to nobody

[2013-11-27 11:43] #162 closed, assigned to nobody

[2013-11-29 00:09] pepelsbey opened #165 "Broken slide list navigation"
Steps to reproduce
1. Go to http://shwr.me and press `Enter` — you'll see black screen
2. Go to http://shwr.me and press `Right` — second slide will be selected

Both behaviors are wrong, as you can see.

[2013-12-06 10:52] paulgreg opened #166 "Way to temporary disable keyboard shortcuts"
I’m working on a slide with an input which, on each keystroke, generates a SHA1 hash of its value.
When typing some keys in that input (like j/k, start/end or arrows key), shower goes to next/previous slides, which is expected.

I would like a way to temporary disable keys event by calling an API like shower.disableKeys() and shower.enableKeys() in my input’s focus/blur events.

[2013-12-08 09:12] qfox opened #167 "Use Backspace as back button"
Backspace used on windows to go back in history. Imho it should act as `left` key (go to prev slide).

Also it could be good if `enter` key will turn view back to slide list. 1st `enter` — we going to full, 2nd `enter` — we going back to slide list.

Atm `space` key moving us forward and in complex these 3 keys (`space`, `backspace`, `enter`) could be a one-hand navigation keys, cozily.

[2013-12-09 10:52] qfox opened #168 "Can't build ribbon theme by self"
Using `grunt` to build `ribbon` theme spamming errors:

[code]

And if set `@charset "utf-8";` directive:

[code]

The second error relates to https://github.com/shower/ribbon/commit/f6158f94483101b1320c6c1e3c719fbc43965ec0 commit.
@pepelsbey I'm not sure why it not failing in your env

How to fix it? What's the right environment to build it?

[2013-12-09 22:18] #168 closed, assigned to nobody

[2014-01-20 19:15] Rarst opened #169 "Debug grid doesn't show on shout slides"
Current CSS for `.debug .slide` grid background is losing in specificity/order to `.slide.shout` canceling background.

Grid is especially helpful for shouts, since they need manual tweaking for best results.

[2014-02-08 21:07] lippytak opened #170 "Vertical scroll"
I would love to enable vertical scrolling to have a larger content area on slides. I know this goes a bit against the theme of simplicity but my specific use-case is to show long vertical images in full and let users scroll to explore.

[2014-02-14 15:45] masukomi opened #171 "documentation isn't where expected and required files missing from repo"
Questions that SHOULD be answered by the documentation but aren't
1. what file are users expected to put their slide content in?
2. what format is that content supposed to take? HTML, JSON, something else?
3. is the html for the slideshow generated?
   - If so, how?
   - If not, where are the instructions on what needs to be in it?

[2014-02-16 02:07] #129 closed, assigned to nobody

[2014-02-17 12:46] #165 closed, assigned to nobody

[2014-02-17 12:47] #170 closed, assigned to nobody

[2014-02-17 19:32] #152 closed, assigned to nobody

[2014-02-17 19:48] pepelsbey opened #174 "Broken Home & End shortcuts in list view"
## Steps to reproduce
1. Open theme index
2. Press `Fn Left` and `Fn Right` (Home and End)
## Expected behavior

First and last slides selected
## Actual behavior

Nothing

---

Works fine on [shwr.me](http://shwr.me/shower/themes/ribbon/) or if any slide is selected. See [shower.first](shower.js#L493) and [shower.last](shower.js#L508) functions.

Possible regression after #173

[2014-02-17 22:26] #174 closed, assigned to nobody

[2014-02-18 09:17] Jayuda opened #176 "Export PDF on Chrome page are truncated"
I put in the browser chrome.
I have problem when export pdf  with print menu.
occurred messy look. pages are truncated.
Please help.
as note i am use on Chrome roads in Ubuntu with chromer Version 32.0.1700.107.
Thanks you

![screenshot from 2014-02-18 16 13 42](https://f.cloud.github.com/assets/1973447/2193461/7c89fc84-987d-11e3-8e32-fe9086dfa410.png)

[2014-02-18 10:52] ro-ka opened #177 "Publish on bower"
Used shower for my slides and it worked great. But the workflow could be better, I think.

When the shower repo and the themes would be published on [bower](http://bower.io/), one could create a new presentation more easy. It would separate the logic from the actual presentation. Then it would not be necessary to use sub-repositories.

Interested? Then I could create a Pull Request with the necess

[2014-02-18 12:04] #176 closed, assigned to nobody

[2014-02-18 12:18] #169 closed, assigned to nobody

[2014-02-18 22:47] #133 closed, assigned to miripiruni

[2014-03-09 15:55] englishextra opened #178 "production template"
just a  live version of css modified a bit of shower web presentation engine
http://shimansky.biz/pages/grammar/grammar_irregular_verbs.html

thanks for your work

there you can see changes have been made at the bottom of css https://github.com/englishextra/shower-ribbon/blob/master/styles/screen.css

[2014-03-09 16:10] #178 closed, assigned to nobody

[2014-03-17 10:43] freepad opened #180 "Sub and sup indexes"
Стили у тегов верхнего(<code>&lt;sup&gt;</code>) и нижнего(<code>&lt;sub&gt;</code>) индекса переопределены стили, из-за чего данные теги не правильно отображаются.

<b>Пример:</b>
<em>Код:</em>
<code>a&lt;sup&gt;2&lt;/sup&gt;+b&lt;sup&gt;2&lt;/sup&gt;=c&lt;sup&gt;2&lt;/sup&gt;</code>
<em>Вид в браузере:</em>
![2014-03-17 14-39-06 shower presentation engine yandex](https://f.cloud.github.com/asset

[2014-03-20 19:13] h4 opened #182 "node_modules in bower.json is unnecessary"
I my mind, Bower uses `ignore` section of `bower.json` file after cloning repo to temporary place and before move package files to final destination. Because there is no `node_modules` directory in repo, this string is unnecessary.

It isn't big mistake, but it looks like unaesthetic code.

[2014-03-20 19:31] #177 closed, assigned to nobody

[2014-03-21 08:52] #180 closed, assigned to nobody

[2014-03-21 09:11] #182 closed, assigned to nobody

[2014-03-23 00:34] Nedudi opened #183 "there is no shower-core > 1.0.1"
https://www.npmjs.org/package/shower-core

I use https://github.com/shower/shower/wiki/Quick-Start

after

[code]

I got

[code]

[2014-03-24 09:00] pepelsbey opened #184 "Document all existing public APIs"
At least all useful ones, such as `shower.go`, `shower.next`, etc. As a first step it could be a wiki page with all public APIs listed (with short description).

[2014-03-30 09:15] h4 opened #185 "Append slide title to document title"
It will be made browser navigation better. I think, this screenshot explains my idea.

![shower-back](https://cloud.githubusercontent.com/assets/430023/2560902/b8d84a46-b7eb-11e3-9146-026a19d26d70.gif)

[2014-03-31 12:00] jonhoo opened #186 "Add class to "next" elements that are visible, but not active"
One common effect to use in slides is to show items in a list incrementally, but fade each one out slightly when moving to the next point. The CSS for this might look something like:

[code]

Unfortunately, shower currently only has two states "active" and not "active" for items marked as "next", which means that such an effect is only possible by changing shower or by repeating slides with small

[2014-04-07 13:30] rauschma opened #187 "Export to PDF"
It would be nice to be able to export to PDF (for Speakerdeck.com etc.). Maybe Shower can use the same approach as Reveal.js: https://github.com/hakimel/reveal.js#pdf-export

[2014-04-11 09:23] simevidas opened #188 "Why git clone?"
(Sorry if this is a n00bish question.)

Why does the README tell to  `git clone` the repo? Can't it be installed via `npm install shower` directly?

[2014-04-13 09:51] #187 closed, assigned to nobody

[2014-04-13 09:59] #183 closed, assigned to nobody

[2014-04-16 19:27] #188 closed, assigned to nobody

[2014-04-22 19:06] pepelsbey opened #189 "Add jscs config to shower-core"
See [node-jscs](https://github.com/mdevils/node-jscs)

[2014-04-23 07:09] operatino opened #190 "Bad scrolling speed with inertia"
On mac, with trackpad or magic mouse inertial scroll is enabled by default http://d.pr/i/ZB3y. Scrolling presentation with inertial scroll, slides are changed way too fast. And sometimes, when you try to scroll slowly, slides could suddenly play in reversed direction, which is very annoying.

To fix this problem, you must add a pause between scroll ticks, to stop unwanted slide skipping.

[2014-04-28 05:54] robhrt7 opened #191 "Slides switch function fires twice"
Switching slides in presenter mode `go()` function fires twice on one step, it's easy to spot, if you turn off console clearing http://d.pr/i/uSNS

[2014-05-08 01:46] RacingTadpole opened #192 "D3js click and mouse events not working"
Shower looks fantastic, and I'd love to use it to present some [d3](http://d3js.org) svg visualizations.  However, the d3 mouse and click events are not firing when embedded in shower; eg. I have just pasted the example code from the [Collapsible Force diagram](http://bl.ocks.org/mbostock/1062288) into a `<section>` in `index.html`. At that link, you can drag nodes around; inside shower, this is n

[2014-05-10 18:40] #191 closed, assigned to nobody

[2014-05-12 15:25] #189 closed, assigned to miripiruni

[2014-05-13 10:56] #171 closed, assigned to nobody

[2014-05-13 11:27] #130 closed, assigned to tonyganch

[2014-05-13 18:40] #120 closed, assigned to nobody

[2014-05-23 23:14] rande opened #194 "Printing with wkhtmltopdf"
I am testing your show case website to render a PDF version with the command from your wiki page:

wkhtmltopdf -T 0 -R 0 -B 0 -L 0 --page-width 1024px --page-height 640px --dpi 300 --print-media-type --quiet http://shwr.me/ /vagrant/31c8bb1e-41ae-4f44-8a4e-f6cbfb35324f.pdf

However there is an issue with the size, the page seems to be 2 times bigger. Any hints ?

![screen shot 2014-05-24 at 01 13

[2014-05-26 15:02] varya opened #195 ""Still" mode for slides"
When inserting slides into HTML as iframes I want them not to steal the focus (and not to react on keyboard).

I think you can provide additional param in # preventing slide navigation. Or provide JavaScript API which I can access from the parent page and tell Shower inside iframe stay still.

Example of usage: http://varya.me/en/posts/html5-mobile-app-width-native-ui/

[2014-05-27 10:03] #194 closed, assigned to nobody

[2014-07-02 10:21] tripu opened #196 "Ctrl+tab and ctrl+shift+tab should not be captured, to allow normal navigation between browser tabs"
(I already "solved" this; I'm filing an issue —rather, feature proposal— to comply with the [guidelines for contributing to the project](https://github.com/shower/core/blob/master/Contributing.md).)

I always find it annoying in HTML5 presentation engines (_Impress_, _Reveal_, now _Shower_) when I can't move between browser tabs using the keyboard. I prefer `tab` and `shift`+`tab` not to be captur

[2014-07-18 15:08] pepelsbey opened #197 "Update JSCS"
`grunt-jscs-checker` is now `grunt-jscs` and a number of current rules in `.jscs.json` are deprecated in the latest version of JSCS. @jahson, could you please update JSCS config and dependencies in package.json?

[2014-07-18 15:37] #196 closed, assigned to nobody

[2014-07-18 18:03] #197 closed, assigned to jahson

[2014-08-09 13:00] thierrymarianne opened #198 "Myo support"
I would like to support the use of [Myo](https://www.thalmic.com/en/myo/) armbands within shower slidehows via [MyoJs](https://github.com/logotype/myojs) and [myodameon](https://github.com/logotype/myodaemon).

How would this be a desirable enough story for you guys?
Do you have some recommendations?

[2014-09-21 14:00] Rarst opened #199 "Footers animation glitchy in Chrome"
I use footers for notes extensively, pulled latest code (masters) into my setup and now their animation is tearing up and not working properly in Chrome (other browsers seem ok). Can be seen on first two slides live at http://shwr.me/shower/themes/ribbon/

Win 7x64, Chrome 37.0.2062.120 m

[2014-09-21 14:16] #199 closed, assigned to nobody

[2014-09-29 10:01] rahul286 opened #200 "Google Presentation Export"
Is there any way or script to convert Google Presentation to shower?

[2014-09-29 22:07] #200 closed, assigned to nobody

[2014-10-19 15:34] pajooh opened #201 "RTL style theme"
any try yet?

[2014-10-29 11:27] rojaro opened #202 "Javascript callback when slide is displayed"
I would like to call a custom javascript function when a specific slide gets visible. Havent found any documentation whether this is possible.

[2014-11-02 15:34] #202 closed, assigned to nobody

[2014-11-09 13:05] aidistan opened #203 "English examples needed"
Examples in the [list](https://github.com/shower/shower#usage-examples) are all in Russian, which is not the official language of Shower and there is few examples in English, except [shwr.me](http://shwr.me/), which makes it hard to have a quick review of applications of Shower.

So here I suggest we should collect some English examples.

---

Following is a list of English examples I found by now

[2015-02-08 01:50] una opened #204 "Implement Background Images"
Background images are relatively common -- this should be a data-attribute of some sort :)

[2015-02-08 01:50] una opened #205 "Clean Up CSS"
Remove all inline CSS, create a structured system -- potentially in Sass

[2015-02-08 02:52] pepelsbey commented on #205
There are two levels of styling available in all presentation systems (not just Shower, but even on desktop in Keynote, etc.)

1. Global theme
2. Local styling

The same applied to Shower. There’s a theme (based on elements like `<p>` or `<ul>` or special class names) and there’s per-slide styling (the one you call “inline styles”, I guess). It’s not possible to create ultimate theme for all cases

[2015-02-08 02:52] pepelsbey commented on #204
@una, have you tried `cover` slide type? It acts like background image (image goes under the slide content) and it’s much easier to apply it using `<img>` instead of background or some data attributes.

Have you seen the [Ribbon theme documentation](https://github.com/shower/shower/wiki/Ribbon)?

[2015-02-08 02:54] una commented on #205
Its not very semantic this way. It can be avoided if there's a more lucid style system for people to edit.

I'd  love to help with the Sass stuff if you want -- I've sort-of restructured Shower for my own use right now, and I'm using gulp and Browsersync in my build system so it runs automatically and minifies all the things.

[2015-02-08 02:55] una commented on #204
Yep -- I am using this. It requires an image tag, but it would be more semantic to use `background-size: cover` and apply backgrounds directly to the slides themselves.

[2015-02-08 03:02] pepelsbey commented on #205
I don’t really see any problem with semantics here. Good old “inline styling is bad” rule could be applied only to situations when you duplicate styling on each page of your site. But presentation is a special case: there’s only one document which should be easily editable. That’s why there a theme that could be used in multiple presentations and there’s per-slide styling. I don’t see any other op

[2015-02-08 03:05] una commented on #205
Sure :) I'll take a stab at it and check out the Sass version thats in the works. I think its a really awesome project, just a little suggestion to make it even more awesome.

[2015-02-08 03:05] pepelsbey commented on #204
I would disagree with your idea of semantics here. Picture on your slide is a content, not decoration or styling and it should be presented as an `<img>` content element, not decoration `background`.

[2015-02-08 03:07] una commented on #204
hmm I suppose it depends on what the image is. Generally when I have full-bleed images with text on top they are more of a style element -- background decoration. I do see your point though.

[2015-02-08 03:13] una opened #206 "Automatic syntax highlighter"
Implementing an automatic syntax highlighter for code might be nice :)

Such as Google's Prettify http://google-code-prettify.googlecode.com/svn/trunk/styles/index.html

[2015-02-17 17:05] mathiasbynens commented on #206
You can easily add this yourself to your slide deck. For example, using [highlight.js](https://highlightjs.org/download/):

Add this in the `<head>`:

[code]

Add this before `</body>`:

[code]

And there you go.

I’m not sure if syntax highlighting should be part of Shower by default.

[2015-03-21 21:46] Pofigizm opened #208 "Idea to active "next note" when current "next" has "shownote" style."
It was need for me to show note comment on defined step in current slide.
I extended function slide.next from https://github.com/shower/core/blob/master/shower.js#L168

    ...
    nextSteps = document.getElementById(slide.id).querySelectorAll('.next:not(.active)');
    // start of added
    if (nextSteps[0].classList.contains('shownote')) {
        var nextNote = document.getElementById(slide.id)

[2015-03-21 22:00] pepelsbey commented on #208
@Pofigizm, have you seen [dev](https://github.com/shower/core/tree/dev) branch with new Shower’s core? It’s not much easier to extend Shower’s functionality: most of the functions are now plugins, see [next](https://github.com/shower/next) plugin for example.

[2015-03-22 06:24] Pofigizm commented on #208
Ok, I will lean dev branch and new plugin system when I prepare my presentation in next time. Thank you, for you comment.

[2015-03-22 18:07] #208 closed

[2015-04-15 17:19] vkostyukov commented on #206
@mathiasbynens thanks for this how-to guide. Helped me a lot!

[2015-04-26 07:53] photino opened #209 "Change the cursor style of slides in list mode to `pointer`"
I think it is better to change the cursor style of slides in list mode to `pointer`:
[code]
which provides a hint to click the slide to enter the full mode.

[2015-04-27 21:59] pepelsbey commented on #209
Good idea, thank you. I’ll make it a part of the next themes release.

[2015-05-01 09:08] aidistan commented on #203
Thinking we've got enough examples by now.

[2015-05-01 09:08] #203 closed

[2015-05-26 05:48] tagawa opened #210 "Enable zoom in/out"
During a recent presentation an audience member asked if the font size could be increased. The presenter (who doesn't know CSS) pressed Shift+Ctrl+[+] but nothing happened because of the transform applied in shower.js.

Is it possible to add this functionality please? I understand that it's better not to mess with the slide dimensions on-the-fly so one possibility could be to capture the zoom in/o

[2015-05-27 11:33] pepelsbey commented on #210
Thank you for the good idea! This is something that could be implemented via new plugin system.

[2015-05-27 12:42] tagawa commented on #210
Hey @pepelsbey, thanks for the reply. That would be great. I didn't realise Shower was now extensible - very cool.

[2015-05-27 13:29] pepelsbey commented on #210
@tagawa, I’m talking about Shower 2.0, see [shower/code:dev](https://github.com/shower/core/tree/dev), hopefully we’ll release it soon.

[2015-05-27 14:28] tagawa commented on #210
Great, look forward to that.
Several W3C staff now use Shower and I make themes for each major meeting. It's had good feedback so far including regarding accessibility. Thanks a lot to you and your co-hackers. :beers:

[2015-06-08 09:25] markelog opened #211 "Black page at page refresh"
Go to http://shwr.me/?full#2 through chrome > 42 on osx machine, then refresh the page.

Not reproducible on chrome 42 or Opera (not yet anyway).

[2015-06-08 09:50] pepelsbey commented on #211
Known problem caused by [Chromium regression](https://code.google.com/p/chromium/issues/detail?id=492142#c10):

https://twitter.com/pepelsbey_/status/606425799919595520

[2015-06-08 09:51] pepelsbey commented on #211
You can fix it by using `.active` class in your theme instead of `:target`

[2015-06-09 00:34] pepelsbey commented on #211
It seems [the bug is fixed](https://code.google.com/p/chromium/issues/detail?id=492142#c18), waiting for it to be rolled out with next Chromium updates.

[2015-06-24 15:17] iherman opened #213 "Video object seems at odd with webkit..."
I have the following slide:

[code]

This used to work on a previous version of shower, but it has problems on some browsers with shower version v1.0.6 (I guess this is the last version).

I have tested on three browsers (all the browsers are up to date):

* It works perfectly on Mozilla
* On Chrome the control line appears twice, one sligthly on top of the other. The control on the top reacts on

[2015-06-24 15:35] pepelsbey commented on #213
Do you the rest of the code or link that I could check? This code sample gives me nothing to work with.

[2015-06-28 13:05] s-stude opened #214 "Does shower 2.0 feature works?"
Hi,

Does wiki article for Shower 2.0 feature actual? Can I start using them?

https://github.com/shower/shower/wiki/Shower-2.0

[2015-06-28 14:39] pepelsbey commented on #214
It was just a draft which we’ve used to create components for Shower 2.0, see [core:dev](https://github.com/shower/core/tree/dev) and [ribbon:next](https://github.com/shower/ribbon/tree/next) theme (both still in progress). Most of the mentioned features are implemented (open Ribbon theme in next branch to see yourself), but some are not yet there and nothing is properly documented yet.

[2015-06-29 20:57] roman01la opened #215 "Keydown event interception prevents navigation with focus in overview mode"
When navigating with Tab/Shift+Tab keys in overview mode, the focus remains on document. This makes not possible to read-out selected slide.

This is due to implementation of [programmatic navigation](https://github.com/shower/core/blob/aa8a6bfc36d8808a47e9b44f915bda13200426ff/shower.js#L988-L993).

I think a better way would be to allow navigation with focus.

[2015-06-29 21:14] pepelsbey commented on #215
This is just just the way how Shower works: in the list mode you’re navigating between slides, in full mode you’re navigating inside of the slide. But this is only true for visual users.

I guess the best way to fix it for screen readers would be to drop support for Tab shortcuts, am I right?

[2015-06-29 21:25] roman01la commented on #215
Yes. And also add `tabindex="0"` to every slide/`<section>` element to make it actually focusable.
I think this can be done for full mode as well: just show a slide which is currently in focus.

[2015-06-30 12:11] roman01la opened #216 "Restrict navigation to current slide's contents in full mode"
When using screen reader in full mode, navigating between links, text, etc. with arrow keys (in VoiceOver) starts with the very first interactive element on the entire page. This means if you are on slide 10 in full mode and there's anchor element on slide 1, the virtual cursor will be moved to this element on slide 1, while slide 10 remains on the screen.

I assume this is related to #215. Would

[2015-06-30 12:13] #214 closed

[2015-06-30 12:18] pepelsbey commented on #211
It’s fixed in the current Chrome Canary 45.0.2444.0, hope to see it in stable in a couple of weeks or maybe a bit more.

[2015-06-30 12:18] #211 closed

[2015-06-30 13:44] iherman commented on #213
@pepelsbey I have uploaded a small presentation onto:

http://www.ivan-herman.net/Tests/shower/

The behaviour is actually erratic, but wrong on Chrome, and also has bugs with Mozilla (it seems that the theme I used originally did hide some errors).

* When starting up the slide show it is a bit random on whether the start of the video has an effect or not. If one goes back to list mode and back t

[2015-06-30 13:47] pepelsbey commented on #213
Thank you, I’ll have a look

[2015-06-30 14:23] pepelsbey commented on #213
Oh, I got it.

Please update your theme to the latest version. There was Live Region feature introduced in one of the last versions of Shower to make it more accessible, so there’s hidden element on every page which duplicates current slide content:
[code]
Normally it’s `display:none` in list mode and offscreen in full one. So please update your theme to the latest version: here https://github.com

[2015-06-30 14:24] #213 closed

[2015-07-01 08:43] iherman commented on #213
Thank you, @pepelsbey, this has indeed greatly improved this. But there is still a problem, albeit on Chrome only. The control panel (to start/stop the video) appears only when the window size is under a certain size. If I increase the size it disappears. This also means that, eg, if I run the slides, in Chrome, on full screen on my retina display of my Mac, there is not control panel.

This may b

[2015-07-03 12:45] chaals commented on #215
I was looking at this - I am trying to share a slide presentation with a screenreader user.

What you really want to do when navigating, given the way it is built, is bring the focus to the first focusable thing in the slide.

For my use case this would be the slide's heading with a tabindex - Powerpoint passes the title(?) of the current slide to JAWS as it moves between them.

[2015-07-03 13:07] chaals commented on #215
Hmm. Just disabling tab navigation does some odd things (at least in Yandex browser and Firefox). Time to check more carefully and see if it is because I have an old version.

[2015-08-02 15:35] CaledoniaProject opened #217 "Refresh is not working properly"
If you refresh from a hashed link, e.g xxxxx?full#2

The page become empty and you need to press an arrow key to fix it, can you help?

[2015-08-02 17:05] pepelsbey commented on #217
@CaledoniaProject, this is known issue caused by Chromium’s regression in `:target` selector support. See #211 for details. In short: it’s still an issue in stable Chrome 44 and Opera 30, but already fixed in Chrome Canary and Opera Developer based on Chrome 45+

[2015-08-02 17:05] #217 closed

[2015-08-04 23:10] thepian commented on #119
And swipe gestures on trackpad.

[2015-08-10 12:23] RubenVerborgh opened #219 "HTML elements for slides & sectioning slides"
When comparing the HTML structure of Shower 1.0 and the upcoming Shower 2.0, I was happy to see that the double `<section class="slide"><div>` was replaced by a single `<section>` element, which is definitely a cleaner option.

However, I wonder whether `<section>` (without class) is the right element here, since a `<section>` might not be the correct logical type of unit. Concretely, many present

[2015-08-11 14:40] pepelsbey commented on #219
You know, I actually agree with you.

The point of removing nested `<div>` wrapper was to make it easier to write slides, but I had to simplify some built-in themes functionality to achieve this (it’s not possible to move elements outside of the slide, including slide numbers).

The same applies to class names. It’s much easier to use `<section>` element without any class name when you hand-code y

[2015-08-11 14:46] RubenVerborgh commented on #219
This is very good to hear, and very happy about the custom selector possibility as well.

BTW The reason I chose Shower (and am somewhat picky about HTML elements) is that I'll use it for a series on Web fundamentals for our students at Ghent University—so I want to practice what I preach :smile: The fact that Shower is HTML and CSS-driven, with proper unobtrusive JavaScript, is a very good exampl

[2015-08-11 14:47] RubenVerborgh commented on #219
Oh and, I was actually going to ask about `shower__list` next, depending on your answer. Fully agree there as well.

[2015-08-14 21:56] pepelsbey commented on #219
So, [slide code](https://github.com/shower/ribbon/blob/next/index.html#L15) for built-in themes is back to `slide` class name:
[code]
And [slide’s styles](https://github.com/shower/ribbon/blob/next/styles/slide/slide.scss#L9) are attached to `slide` class name:
[code]
Core module in `shower/core:dev` is [updated accordingly](https://github.com/shower/core/commit/2123f90e0ec7ab60f4080fe2a7bb4097365

[2015-08-14 21:56] #219 closed

[2015-08-14 21:58] pepelsbey commented on #219
This approach and overall themes architecture should be considered as final for Shower 2.0 release.

Thank you again for opening this issue!

[2015-08-16 20:25] RubenVerborgh commented on #219
Great, thanks a lot for this. That allows me to do exactly what I want, and it's a clean solution HTML-wise. I'll let you know when I have finished slide decks that use `section` to partition presentations.

[2015-08-20 14:47] karlgroves opened #220 "Accessibility enhancements: add role=application to body. Add explicit (hidden) link to launch full view"
Recent testing with a screen reader user has demonstrated two challenges I didn't anticipate in my earlier PR.

1. JAWS screen reader intercepts all keystrokes.  This can be alleviated by adding `role="application`" to the `<body>` element. This will enable JAWS users to traverse through the slides the same as other users. It also will have no negative impact on other users.

2. In order for scree

[2015-08-20 16:07] LjWatson commented on #220
@KarlGroves thanks for filing this issue. A couple of thoughts...

The problem occurs for all Windows screen readers due to the interaction model they use. Background info here:
http://tink.uk/understanding-screen-reader-interaction-modes/

Adding the application role solves the problem of not being able to use the slide deck as intended. It also removes the ability to navigate and read slide cont

[2015-08-24 02:33] sergeyzwezdin opened #221 "Black screen after edit"
I wonder what's typical scenario to edit slides? Once I edit HTML and press F5 in browser it just switch between list/full screen mode. Ok, I click "Reload" button from toolbar − it forces page to reload, but I see black screen until I switch next/prev slide. Not so productive to edit slides such way, does it? :-)

I guess there is another convenient way to edit slides − @pepelsbey could you share

[2015-08-24 08:08] pepelsbey commented on #221
@sergeyzwezdin, it’s a known Chromium bug, see #211 and #217 for details. Once you have Chrome 45 it will be fixed.

[2015-08-24 08:08] #221 closed

[2015-08-25 23:35] sergeyzwezdin commented on #221
Ok, thanks.

[2015-09-09 19:31] ai opened #222 "History API doesn’t work for local files"
`History.pushState` is prohibited in local files. As result there is not way to open Shower presentation as file from disk.

@pepelsbey seems like critical issue.

[2015-09-10 00:17] pepelsbey commented on #222
Yes, since Chrome 45 History API doesn’t work. We’re open to suggestions, something better than _“just use hashbangs alredy”_ :\

[2015-09-10 00:19] ai commented on #222
Can tag has two IDs? `1` and `full1`?

[2015-09-10 00:22] pepelsbey commented on #222
@ai, the point of real ID is to use `:target` pseudo-class for the current slide, which works even without JS. This is the right thing to do: use features available in the language exactly how they were designed.

[2015-09-10 00:24] ai commented on #222
@pepelsbey I know, this is why I ask about two IDs.

[2015-09-10 00:26] pepelsbey commented on #222
There’s only one ID in `index.html#full1`, non-exiting one :(

[2015-09-10 00:31] ai commented on #222
What about removing ID changes in overview mode? Why we need to non-JS keyboard selection?

[2015-09-10 00:41] pepelsbey commented on #222
Let’s look at the following URL: `index.html?full#last` — full mode, last slide, clean and simple. And if you remove `?full` you’ll get `index.html#last` last slide in list mode or without `#last` you’ll get `index.html?full` just a full screen mode with the very first selected.

This system is too good to just trash it.

[2015-09-10 00:44] pepelsbey commented on #222
If you have `index.html#full-last` and `index.html#last` it could mean anything and this is not something you’d edit manually to change current slide or presentation’s mode :(

[2015-09-10 00:54] ai commented on #222
@pepelsbey the bug is critical to denial ;).

`?full#last` was not so good solution, because query part of URL mean different thing. We have same document, so we need to have same URL without hash.

[2015-09-10 11:59] ai commented on #222
@pepelsbey so what do you think if `index.html#last` will be a fullscreen slide and we week not have non-JS keyboard in overview.

We need to fix this issue as fast as possible, and non-JS keyboard overview is to rare case.

[2015-09-10 23:04] pepelsbey commented on #222
@zloylos, any ideas how this could be fixed? This is rather critical as most presentations are launched locally and setting up a server is not a viable option in many cases :\

[2015-09-10 23:06] pepelsbey commented on #222
I wonder if History API could polifilled somehow only for Chrome. There’s [history.js](https://github.com/browserstate/history.js/) for example.

[2015-09-10 23:08] ai commented on #222
@pepelsbey it is common security issue. This bahviour will be standard way or we all will have secirity problems.

[2015-09-11 20:31] pepelsbey commented on #222
Solution is to use only slide IDs `index.html#1` and store mode in body class name `<body class="shower full">` and in `localStorage` so it would if you reload page. And open in full screen mode by default if there’s `#ID` in URL and in the list mode if there’s no one.

[2015-09-17 08:09] ai commented on #222
@pepelsbey who is current JS programmer to ask to fix it? I can also try to fix it, when I will finish slides.

[2015-09-17 08:32] zloylos commented on #222
@pepelsbey @ai I will try to fix it for few days.

[2015-10-03 13:23] vmarkovtsev opened #223 "Refresh results in black screen"
When I change index.html and hit Ctrl - Shift - R, a see the black screen instead of current slide. I have to press <left> and then <right> to eventually show it.

[2015-10-03 13:25] vmarkovtsev opened #224 "Horizontal mode in Mobile Chrome makes address bar visible"
When you open a presentation in Mobile Chrome browser (tested with Android 5.1/latest Chrome) and turn your device from vertical mode to horizontal mode, browser's address bar hangs visible whatever you do.

[2015-10-03 13:27] pepelsbey commented on #223
@vmarkovtsev, update you Chrome to the latest version (45 at least), I won’t happen again. See #211 for details.

[2015-10-03 13:27] #223 closed

[2015-10-03 13:28] pepelsbey commented on #223
If it doesn’t help feel free to reopen this issue with additional details: browser, platform, etc.

[2015-10-03 13:30] pepelsbey commented on #224
Could you please provide screen shots? Thank you.

[2015-10-07 21:13] RubenVerborgh opened #225 "Loading error in latest dev"
Starting with shower/core@269c173548f7e0c18415e1514920cfc6e40bd7e3, loading Shower in the browser gives
[code]
Versions before that compiled fine.

[2015-10-07 21:14] pepelsbey commented on #225
Yes, it’s a known issue caused by unfinished refactoring.
@zloylos could you please make it work again? :)

[2015-10-07 21:15] RubenVerborgh commented on #225
Thanks! Any ETA on v2.0 BTW? I'm a happy beta user :wink:

[2015-10-07 21:22] pepelsbey commented on #225
I wish I knew, I’m [using it myself](http://pepelsbey.net/pres/web-apps/) and pretty happy about it. But you know it takes more than just a happy author to release something: tests, documentation and I have to finish the new Material theme.

Let’s see if I can do it before the end of the year :)

[2015-10-07 22:28] RubenVerborgh commented on #225
Thanks! BTW, I'm working on a [Clear](https://github.com/RubenVerborgh/Shower-Clear) theme that I will use fot teaching. It has a strict look with long titles and limited colors. Just rebased on the latest version—wasn't easy :smile:

[2015-10-28 12:20] thebrownsquare opened #226 "Unable To Activate Slides"
Hey, guys. I'm new to this and just downloaded the Bright-Master .zip file. Clicking on the slides in the index view does nothing, and I can't get anything into full-screen mode or actually give a presentation. Has something changed? What am i missing?

[2015-10-28 13:59] pepelsbey commented on #226
@thebrownsquare, Bright is just a theme, you need a full package, including core (engine). See [Simple Way](https://github.com/shower/shower#using-shower) section in readme. If you’re ready for something more advanced, see [Shower: Create, Publish & Share](https://www.youtube.com/watch?v=l2OelK_hIro) screen cast.

[2015-10-28 13:59] #226 closed

[2015-11-14 05:29] drnextgis opened #227 "Failed to execute 'pushState' on 'History'"
I've downloaded shower.zip from starting page but when I open index.html in Chromium and try to switch to second slide - presentation automatically goes to list mode and I get error in console:

[code]

The same presentation works fine in Firefox.

[2015-11-14 05:44] pepelsbey commented on #227
It’s a known issue caused by the new Chrome (since 45 or so) security limitations: it’s not allowed anymore to manipulate history for `file:///` protocols. It could be easily solved by using local server: `python -m SimpleHTTPServer 8000`, for example. [There’s also a patch](https://github.com/shower/core/pull/22) removing History API usage from Shower’s core (replacing it with `localStorage` stat

[2015-11-14 05:44] #227 closed

[2015-11-14 05:45] pepelsbey commented on #225
It’s fixed now.

[2015-11-14 05:45] #225 closed

[2015-12-05 09:37] thierrymarianne commented on #198
I obviously could not have following up with this and prefer to close this issue.

[2015-12-05 09:37] #198 closed

[2015-12-07 16:37] pepelsbey commented on #222
Fixed by shower/core/pull/22

[2015-12-07 16:38] #205 closed

[2015-12-07 16:39] #204 closed

[2015-12-10 18:00] RubenVerborgh opened #228 "Can we still link to fullscreen slides?"
I noticed that in the latest `next`, slides in overview and in fullscreen view both are addressed by `#37`. Does that mean we can no longer link to fullscreen slides? Can we indicate a preference to open fullscreen if a specific slide is linked?

[2015-12-10 18:25] pepelsbey commented on #228
Currently it’s not possible to have the `full` state in URL, it could be triggered only for `<body class="shower full">` (in which case Shower will start in full screen by default) or by manually clicking a slide to enter full screen mode. It’s the case both in `next` (2.0) and `master` (1.2) core versions.

There’s an idea to have something like `index.html#37:full` (fake ID only for full screen

[2015-12-10 19:30] RubenVerborgh commented on #228
2.0 release coming this Sunday? Awesome :smile:

I remember there being `full` in the URL somewhere between `master` and `next`; however, I think `class="shower full"` is actually nicer. After all, it's just a different view of the same thing.

[2015-12-10 20:55] pepelsbey commented on #228
@RubenVerborgh, yes, it used to be possible to link to a slide in full screen mode `index.html?full#37` but mode switching has stopped working in the latest Chrome (History API for `file://` protocol is not considered secure anymore) that’s why it’s disabled now.

[2015-12-13 10:34] RubenVerborgh opened #229 "Mobile: can't next/prev with full-screen image"
With the latest `dev`, I can't go to the next or previous slide by tapping on the right or left bottom of the slide if the slide consists of a full-screen image (`<img class="cover">`). This works for other slides.

[2015-12-13 10:47] RubenVerborgh commented on #224
I have the same behavior in Chrome on IOs with the latest `dev`.

![img_4703](https://cloud.githubusercontent.com/assets/675313/11766594/39ada15a-a18f-11e5-99c0-5ee4e0c766ab.png)

[2015-12-13 21:23] RubenVerborgh commented on #228
After working with the latest version now for a while, I find it unintuitive that removing the `#37` from `index.html#37` does not simply bring me back to the overview, as I would expect from entering the page the first time. I think the local storage thing does more bad than good; link behavior should be predictable, and not depend on a local setting somewhere, which cannot be altered easily. (In

[2015-12-14 06:54] zloylos commented on #229
Shower 2.0 in production. Bug fixed in shower-core 2.0.1.
Can you update dependences and check again?

[2015-12-14 07:01] RubenVerborgh commented on #229
Perfect, thanks!

[2015-12-14 07:01] #229 closed

[2015-12-14 07:03] RubenVerborgh opened #230 "http://shwr.me/ is broken"
Slides 1 and 8 have display problems.

[2015-12-14 11:56] xamgore commented on #230
As well as [ribbon](http://shwr.me/shower/themes/ribbon/) & [material](http://shwr.me/shower/themes/material/) themes — none of slides are clickable.

[2015-12-14 16:21] pepelsbey commented on #230
Fixed, sorry about that.

http://shwr.me/
http://shwr.me/shower/themes/ribbon/
http://shwr.me/shower/themes/maretial/

[2015-12-14 16:21] #230 closed

[2016-01-11 16:12] dfarough commented on #220
I liked Leonie's  suggestion on this.  she suggested providing a Presentation mode switch in the content which would allow a user to change modes while in the presentation.  This would allow a screen reader user to switch modes in order to gain the benefits of using brows mode when the content required it and use the conventional mode so as to facilitate slide navigation and other Javascript provi

[2016-01-18 14:53] tytskiy opened #232 "Malware alert on Windows 8 when download from http://shwr.me/shower.zip"
When download archive directly from http://shwr.me/shower.zip Windows 8 detects a malware inside of  archive and prevents from downloading.

In the same time i am able to download archive from https://github.com/shower/shower/archive/2.0.0.zip with no problem.
![2016-01-18_1545](https://cloud.githubusercontent.com/assets/2727037/12394234/e107dd9e-bdfa-11e5-82a7-76dc8333a441.png)

[2016-01-18 15:39] pepelsbey commented on #232
@tytskiy, `shower.zip` is not equal to `2.0.0.zip` since it contains themes and core. Folder structure is also different, the one on `shwr.me` domain is more convenient. I’ll see what I can do to make this alert go away, but there’s definitely no malware there.

[2016-01-19 14:11] nicothin opened #233 "Вирус в архиве"
Windows 10 64bit, штатное средство проверки при скачивании архива http://shwr.me/shower.zip (ссылка в readme) блокирует архив, утверждая, что там вирус.
При установке зависимостей по `npm i` — аналогично.
Сборка, соответственно, не срабатывает. (`Warning: Unable to read "node_modules/shower-core/shower.js" file (Error code: UNKNOWN).`)
Скрин журнала: http://take.ms/fZQMm

[2016-01-22 09:13] pepelsbey commented on #233
Thanks for reporting this, but see #232

[2016-01-22 09:13] #233 closed

[2016-01-22 10:26] pepelsbey commented on #232
Have submitted http://shwr.me/shower.zip for review to remove the warning.

[2016-01-22 10:51] tytskiy commented on #232
@pepelsbey i tried this one, but ended with the same result.
I also tried to save web-page http://shwr.me/#cover directly, using browser's feature `CTRL S`.
But once page it downloaded, file `shower.min.js` is deleted immediately, and and malware alert shown.

[2016-01-22 13:10] tytskiy commented on #232
@pepelsbey i have another details about the issue
![1](https://cloud.githubusercontent.com/assets/2727037/12511385/40c3830a-c111-11e5-8f76-3ed30e35052d.png)

Description from MS: https://www.microsoft.com/security/portal/threat/Encyclopedia/Entry.aspx?Name=Trojan:Win32/Spursint.A

After short googling i found similar issues:

- https://github.com/google/material-design-lite/issues/1754
- https://g

[2016-01-22 14:49] gorohoroh commented on #232
For the record, this also occurs on Windows 10 with Windows Defender on.

[2016-01-22 15:25] pepelsbey commented on #232
@tytskiy, thank you for details, will try to fix it. This issue will remain open until it’s fixed.

[2016-01-22 15:36] pepelsbey commented on #232
Whitelisting request is also submitted via [Malware Protection Center](https://www.microsoft.com/security/portal/developer/contactus.aspx)

[2016-02-04 17:50] RubenVerborgh opened #234 "Fullscreen broken on iPhone (and possibly other mobile devices)"
Fullscreen does not work anymore on iPhone, and possibly other mobile devices. For instance, the home page http://shwr.me/ breaks, with various effects such as:

![image](https://cloud.githubusercontent.com/assets/675313/12823853/b0c13302-cb6e-11e5-89f1-83e9c0b2b941.png)
![image](https://cloud.githubusercontent.com/assets/675313/12823867/bbb440ce-cb6e-11e5-92ba-88330c74e1a9.png)

It worked nicely

[2016-02-04 17:59] RubenVerborgh commented on #234
On closer investigation, the top positioning problem in the second to last screenshot (with initial-scale and maximal-scale set) seems to be caused by `document.body.scrollTop === 5`, whereas `document.body.scrollTop === 74` on subsequent slides.

[2016-02-04 18:05] RubenVerborgh opened #235 "Advance slide with full-screen video on mobile"
I have some slides with full-screen video (e.g., http://rubenverborgh.github.io/WebFundamentals/birds-eye-view/#15). **How could I allow mobile users to advance to the next slide, given that touching the video makes it play?**

On desktop, the arrow keys can be used because I steal focus from the iframe with
[code]
(not very elegant, but the iframe doesn't raise events when it gets the focus, so t

[2016-02-08 11:32] RubenVerborgh commented on #234
Actually, [iOS 9 seems to require an additional `shrink-to-fit` key](http://kihlstrom.com/2015/shrink-to-fit-no-fixes-zoom-problem-in-ios-9/):

[code]

[2016-02-20 08:04] pepelsbey commented on #232
Fixed on Microsoft side thanks to Constantin Kichinsky. Could you please confirm?

![image](https://cloud.githubusercontent.com/assets/105274/13195355/048a3016-d7c1-11e5-90ea-4863cb86683b.png)

[2016-02-20 08:04] #232 closed

[2016-02-20 08:07] pepelsbey commented on #234
Fixed in [ribbon](https://github.com/shower/ribbon/commit/f8c2454272f73afafe614ab6e023e3485cb4d0b6) and [material](https://github.com/shower/material/commit/5dbe4a03b958b051a1ce1ad29aba3d667d013962) themes. Thank you again!

[2016-02-20 08:07] #234 closed

[2016-02-20 08:09] pepelsbey commented on #137
Not an issue anymore with 2.0 release

[2016-02-20 08:09] #137 closed

[2016-02-20 12:06] RubenVerborgh commented on #234
@pepelsbey Not sure if everything is fixed by shower/ribbon#10. It solves the weird horizontal scrolling offsets, but a vertical shift can still occur:

![](https://cloud.githubusercontent.com/assets/675313/12824010/6018fe02-cb6f-11e5-805d-f0a9fe0fb612.png)

This might be related to #224 though, as it doesn't seem like a coincidence that the vertical offset is equal to the height of the address ba

[2016-02-20 12:07] RubenVerborgh commented on #235
I currently solve this with a transparent element, as you can see on http://rubenverborgh.github.io/WebFundamentals/architecture/#aicha

[2016-02-20 12:09] RubenVerborgh commented on #119
Is #235 a duplicate of this one? Also, #235 suggests a fix.

[2016-02-20 12:38] cornae commented on #119
Looks like it yes

[2016-02-20 20:29] tytskiy commented on #232
@pepelsbey i am able to fully confirm this on Monday 22.02.2016.
On my home PC this works good now.

[2016-02-23 12:28] tytskiy commented on #232
@pepelsbey it works! Thank you

[2016-02-23 12:32] pepelsbey commented on #232
@tytskiy, thank you for the heads up!

[2016-03-06 17:00] hadim commented on #184
Do you know if there us any documentation made since this issue ?

[2016-03-07 07:23] pepelsbey commented on #184
@hadim, unfortunately no, but I’d expect Shower documentation in [core repository](https://github.com/shower/core) under `docs` folder to uppear once @zloylos will find time to auto-generate it from source code or write some basics manually. You can see documentation is slowly starting to appear for themes, see [ribbon/docs](https://github.com/shower/ribbon/tree/master/docs) for example.

[2016-03-07 07:25] #61 closed

[2016-03-07 07:26] #209 closed

[2016-03-07 07:28] pepelsbey commented on #185
Fixed in 2.0

![image](https://cloud.githubusercontent.com/assets/105274/13563063/a059006a-e43e-11e5-8f53-5a7acc7a3b00.png)

[2016-03-07 07:28] #185 closed

[2016-03-07 07:30] #161 closed

[2016-03-07 13:55] RubenVerborgh opened #249 "Full screen shouldn't be delayed until everything is loaded"
**Context**
- a presentation is opened and will automatically go into full screen mode<br>(i.e., full screen was set in local storage)

**Current behavior**
- Shower waits until everything is loaded (images, video, iframes, etc. on individual slides)<br>before going full screen

**Expected behavior**
- Shower goes full screen as soon as possible

For slides with a lot of content, this delay gets q

[2016-03-07 14:03] pepelsbey commented on #249
I just briefly tested it using network throttling and “disable cache” option in Chrome DevTools and got shwr.me page in full screen immediately. Here’s cover picture still progressively loading:

![image](https://cloud.githubusercontent.com/assets/105274/13571509/b785e7a8-e475-11e5-9008-9a9de39bdc08.png)

[2016-03-07 14:06] RubenVerborgh commented on #249
Confirmed. Turns out Chrome is quite sensitive to the order of `iframe` and `script` tags.

[2016-03-07 14:06] #249 closed

[2016-03-08 15:10] bclinkinbeard commented on #192
FWIW, this appears to have been (mostly?) fixed at some point. The dragging is a little weird in the collapsible force example cited above, but normal mouse overs and clicks seem to work fine.

This issue made me skeptical I could use Shower for my use case so I'm glad I checked for myself.

[2016-03-14 12:42] RubenVerborgh opened #253 "Make the tests run again"
Currently, some tests fail on `master`. It would be great to fix those, so working on Shower becomes easier again.

I can volunteer to help out here, but I wanted to bring this up for discussion first.

[2016-03-14 13:25] RubenVerborgh opened #254 "Architecture: dependencies between Container and Player (and Shower)"
This issue consists of **questions** and **suggestions** concerning the architecture of Shower.

### Question
The division of roles between `Container` and `Player` isn't entirely clear to me; where do the responsibilities of the one stop and where to those of the other start?

From what I see, **`Container` is responsible for:**
- performing the transition from list mode to slide mode and back
-

[2016-03-14 13:30] RubenVerborgh commented on #206
@pepelsbey I don't think a new plugin is really necessary. After all, an existing syntax highlighter (as linked to by @mathiasbynens) does the job perfectly. I don't see any necessity to integrate this any closer with Shower. Nor could I imagine how that would look like, i.e., how would such a plugin be any different than highlight.js? In fact, highlight.js is already the plugin we're looking for—

[2016-03-14 13:56] pepelsbey commented on #253
There are two ways of solving this problem:

1. Fix existing set of tests that is not complete (some pre-2.0 bits are still there) on the system (CasperJS) that is not reliable enough (that’s why some tests are failing) or…
2. Develop a new set of tests on a better system, probably [WebdriverIO](http://webdriver.io/)

But it could be not _or_, but _and_. My problem here is the lack of time and exp

[2016-03-14 13:59] pepelsbey commented on #254
@zloylos, could you please have a look?

[2016-03-14 14:02] RubenVerborgh commented on #253
Alright, so the problem is not that the tests are broken, but that CasperJS was/is buggy?
It is my impression that the same tests are failing consistently, so maybe it's worth giving this option a shot.

[2016-03-14 14:06] pepelsbey commented on #206
@RubenVerborgh, plugin could just integrate such highligher in a better way:
- Load via the same module system
- To be initialized using built-in Shower events
- To be supported on theme’s level (custom palettes)

[2016-03-14 14:57] pepelsbey commented on #253
CasperJS was/is buggy, but some tests are incorrect too. Will try to have a look today.

[2016-03-27 06:39] pepelsbey opened #257 "# appended in Firefox once page is loaded"
Steps to reproduce:
1. Open [shwr.me](http://shwr.me/) in Firefox
2. Check page address

Expected: `http://shwr.me/`
Actual: `http://shwr.me/#`

The same applies to local files.

[2016-03-31 11:19] HamsterCoder commented on #187
Hi, link to wiki is broken unfortunately.
I think it  will be useful to have a hint in Readme. And maybe a Q/A on StackOverflow.

[2016-03-31 16:45] pepelsbey commented on #187
@HamsterCoder, there’s work in progress on documentation at the moment, see [printing docs](https://github.com/shower/ribbon/blob/master/docs/printing-en.md), also available [in Russian](https://github.com/shower/ribbon/blob/master/docs/printing-ru.md) as well as WIP [features docs](https://github.com/shower/ribbon/blob/master/docs/features-ru.md).

[2016-03-31 22:39] HamsterCoder commented on #187
Thanks I managed to get my way around browsing old issues. Great tool!

[2016-04-08 09:53] danhopkins commented on #220
I've proposed a (very simple) patch to just enable application role during slideshow. We don't seem to need an additional explicit control to enable slideshow, since that can be triggered by hitting return. It may be useful to document the available keyboard controls though.

[2016-04-08 11:48] LjWatson commented on #220
@dfarough
It can be difficult to exit application mode, but in this instance I don't think that's a problem because whilst in slideshow the only interaction you really need is to operate the slides.

Thanks for your kind words about my post!

@danhopkins
This is a big step forward for screen reader usability with Shower. Thank you.

Documenting the keyboard shortcuts would definitely be a good thi

[2016-04-08 12:23] pepelsbey commented on #220
@LjWatson, what would be the best way to include such note?

[2016-04-08 13:48] LjWatson commented on #220
@pepelsbey
Probably something in the readme? Or where the readme mentions keyboard accessibility, linking through to a keyboard.md file perhaps? There aren't that many keyboard shortcuts though, so a single file just for that seems like it might be overkill though.

[2016-04-09 12:04] pepelsbey commented on #220
@LjWatson, rewrote shortcuts docs from scratch, [how does it look](https://github.com/shower/shower/blob/master/docs/shortcuts-en.md)? I’ll put short version to readme and will link to the full one.

[2016-04-09 12:16] LjWatson commented on #220
@pepelsbey This looks good to me. Thank you.

[2016-04-13 18:47] sureshn opened #260 "Printable to PDF - How to make it work"
I do not see any steps or document which explains how to Print the prepared slide deck into PDF
Can you some one please provide that info

[2016-04-13 18:51] sureshn commented on #260
Note that if I use the print as pdf option, the slides in the PDF would have lost formatting and orientation
I have attached the presentation I am working on and you can see how the formatting is totally gone after doing a save as pdf
[Fossil SCM - For the Enterprise.pdf](https://github.com/shower/shower/files/217767/Fossil.SCM.-.For.the.Enterprise.pdf)

[2016-04-13 21:19] pepelsbey commented on #260
Here’s printing doc: [docs/printing-en.md](https://github.com/shower/shower/blob/master/docs/printing-en.md)

It looks like you’ve printed it not in Chrome or Opera. The problem is that other browsers don’t support `@page` rule which allows to set page width and height.

[2016-04-14 08:24] sureshn commented on #260
I printed it out from a safari browser  initially (from my mac), today I tried it out from a chrome browser and still the formatting and orientation does not stay ,

[2016-04-14 08:42] pepelsbey commented on #260
Make sure you’re doing right, it step by step:

1. Open presentation in Chrome or Opera
2. Go to list mode
3. Go to print dialog
4. Select PDF as a target

And you’ll see this

![image](https://cloud.githubusercontent.com/assets/105274/14522160/e7e65b34-0235-11e6-89f3-908c38aeb2d4.png)

[2016-04-14 09:11] sureshn commented on #260
Yeah, the list view finally did the trick for me, so the way the print works is to get into the list view with #cover suffixed to the end or the URL (or by default it should already be there) and then doing a print , all this only in chrome (would not work in safari ) , how ever using Chrome did unblock me and my presentation is ready to go now !
Many thanks for the prompt response !

[2016-04-14 10:11] #260 closed

[2016-04-14 10:12] pepelsbey commented on #260
You’re welcome. We should probably detect printing and switch to list mode to make it easier.

[2016-04-14 10:15] pepelsbey opened #261 "Detect printing and switch to list mode"
Something like `onBeforePrint`. Or maybe not switch modes, but disable zoom in case end of printing could be detected as well to enable it back.

[2016-05-10 18:45] RubenVerborgh opened #264 "[next] Function to disable builds"
When I'm giving a presentation, I'd like to have my builds enabled. However, when viewing the slides as reference material, the builds might be distracting.

Would it make sense to somehow expose this through the `next` plugin? I'm willing to make a PR, but I'd like to hear your thoughts first.

[2016-05-10 19:04] RubenVerborgh opened #265 "Replace get…/_get… by property accessors"
In several places, the code uses the `get…` paradigm to obtain values. Using properties is more idiomatic in those cases for JavaScript. It can make the code easier and eliminate some code (sometimes, it is okay to just expose a variable; if not, a setter can be built without changing the syntax). This would bring some uniformity to the code as well, since sometimes member variables are used.

I c

[2016-05-10 19:48] pepelsbey commented on #264
That’s why all `.next` styles are disabled in list mode so you could read through your slides while preparing or later as a reference. There are two options to solve this apart from that: have a class in each theme that overwrites `.next` styles or make `shower-next` plugin to activate such classes instead. Personally I don’t see how this might be useful, but let’s think about it.

[2016-05-10 19:49] pepelsbey commented on #254
@zloylos, just a gentle ping :)

[2016-05-10 19:52] RubenVerborgh commented on #264
That won't be sufficient; the user will still have to tap the next button _n_ times to add `active` classes to `next` items, even though they're already made visible by the style file.

Won't help either for the same reason.

A working solution would be that `shower-next` only does its `next` behavior when an option is set to true (default); is not, it just reveals everything.

I'm teaching a [Web

[2016-05-11 11:02] pepelsbey commented on #264
This working solution is effectively breaking compatibility for all existing `next` usage. And making it much harder to use: instead of just using it you’d have to use it (apply `next` classes) **and** enable it. Two steps instead of one for the most common use case. It doesn’t make much sense to me.

[2016-05-11 11:06] pepelsbey commented on #264
PDF version on the other hand is fully interactive with links and such, fully zoomed and gives you all steps at once. Maybe you should consider PDF output as a studying material? But I don’t quite see how builds could interfere with studying process.

[2016-05-11 12:17] RubenVerborgh commented on #264
How so? I suggest to enable next by default:

But then I lose the interactivity in the slides. And the whole point of having Web slides is well… using the Web :wink:

Skipping through slides takes much more time. (See shower/core#26.)

[2016-05-11 12:24] RubenVerborgh opened #266 "Shower wiki disappeared"
The Shower wiki seems to have disappeared. https://github.com/shower/shower/wiki currenctly results in a redirect.

[2016-05-11 12:29] RubenVerborgh commented on #264
A communicative argument about why builds are making studying more difficult is the following. A presentation is necessarily a linear act: speech flows in one direction, and an audience has to follow it. At the moment the same material is used for reading and/or studying, the flow becomes much more non-linear. For example, presenting a bulleted list in 3 parts makes sense (the presenter says aloud

[2016-05-11 15:03] pepelsbey commented on #266
There’s [docs section](https://github.com/shower/shower/tree/master/docs) in the main repository. Most of the docs are located there, some old ones from wiki are outdated but will be back once I finish clean up.

[2016-05-11 15:27] RubenVerborgh commented on #266
Some of the subrepos still refer to the Wiki; perhaps this should be updated as well.

[2016-05-11 15:33] pepelsbey commented on #266
Oh, I thought I fixed all links. Where have you seen them?

[2016-05-11 15:34] RubenVerborgh commented on #266
https://github.com/shower/next

[2016-05-11 22:14] pepelsbey commented on #266
Fixed. Thank you for heads up.

[2016-05-11 22:14] #266 closed

[2016-06-01 22:21] sje30 opened #269 "Bullet in <li> incorrectly rendered in Chrome/mac"
Hi,

first, thanks for your work - this is a great tool.  I'm using rmdshower to make some slides via R and have noticed an issue with bullets rendered in Chrome (but not e.g. Safari), see here:

  https://github.com/MangoTheCat/rmdshower/issues/24

Any thoughts on places to debug this?  Here's an example slide deck of mine where the problem occurs:
http://sje30.github.io/talks/2016/uknode.html

T

[2016-06-01 23:23] pepelsbey commented on #269
It’s most probably caused by CSS you packed as `data:uri`. You can try to fix it by specifying UTF-8 encoding to your data:
[code]
Otherwise it defaults to `charset=US-ASCII` but CSS [contains list bullets as UTF-8 characters](https://github.com/shower/ribbon/blob/master/styles/slide/content/lists.scss#L37).

I could probably fix it by specifying bullets as `\2022` instead of `•`, but could you pl

[2016-06-02 11:53] sje30 commented on #269
Thank you.  However, I don't think it worked for me to add the charset=UTF-8 line.  In my html example, I had several (5?) examples of data:text/css  so in each case I added the "charset=UTF-8" element but still the bullets do not render.

Maybe the author of rmdshower, @gaborcsardi has ideas too?

[2016-06-02 11:58] sje30 commented on #269
p.s. if it is possible for us to change bullet specification locally within rmdshower, that would also help test this.

[2016-06-02 16:16] pepelsbey commented on #269
I could also recommend to set `self_contained: false` in your front matter so your files won’t be packed (I guess, haven’t tried it myself). As a temporary solution. I’m not sure how exactly you could test ASCII-compatible bulltes in your case since CSS is autocompressed.

Before I’ll make Shower’s themes ASCII-compatible (I wouldn’t want to do it since it makes code less readable), I’d make sure

[2016-06-02 16:28] gaborcsardi commented on #269
This is definitely R's fault I think, and it is probably an encoding issue. The other possible culprit is pandoc, that is creating the self-contained file.

So yes, `self_contained: false` is a good start. Then (probably) nothing touches the CSS file, and everything should be fine.

Another possible workaround is to add custom CSS, and redefine the style with an escape sequence:
[code]

If this wo

[2016-06-02 17:10] sje30 commented on #269
Thanks both!  I can confirm that setting `self_contained: false` works -- bullets render fine on Chrome.

Adding the `ul > li::before` snippet though had no effect when I tried it (copying the segment verbatim).

[2016-06-04 11:29] sje30 commented on #269
I think I finally got there:  this works for me:

[code]

so that bullets appear in chrome and safari now when standalone.

[2016-06-04 11:29] #269 closed

[2016-06-29 08:46] dvc opened #274 "Fix hardcode in gulpfile.js"
https://github.com/shower/shower/blob/master/gulpfile.js#L25
` /(<link rel="stylesheet" href=")(node_modules\/shower-ribbon\/)(styles\/screen-16x10.css">)/g,`

I can\`t replace
`<link rel="stylesheet" href="node_modules/shower-ribbon/styles/screen-16x10.css">`
to
`<link rel="stylesheet" href="node_modules/shower-ribbon/styles/screen-4x3.css">`

according to documentation:
https://github.com/shower

[2016-06-29 10:27] dvc commented on #274
More universal rule:

[code]

[2016-06-29 20:58] pepelsbey commented on #274
Oh, that’s a bug, thank you for spotting this. But I wouldn’t make it that greedy it could match `shower-other/styles/subfolder/any_named.css`. I’d adjust it for any theme name and any ratio postfix. I’ll fix it tomorrow.

BTW, backtick is the worst symbol for imitating an apostrophe. It should be either `’` or `'` if you don’t want to bother, but definitely not backtick.

backtick <img width="212

[2016-06-30 08:07] dvc commented on #274
Thanks, i'll remember it ;)

[2016-07-04 18:51] NeomMob commented on #59
Hi, Do you have any example of thme using transitions, just to understand how to add thme in a custm theme. Thanks !

[2016-07-04 21:19] pepelsbey commented on #59
@NeomMob, you can just use CSS to implement transitions, see styles in [slide-full.scss](https://github.com/shower/ribbon/blob/master/styles/slide/slide-full.scss), available both in Ribbon and Material themes.

[code]
By default slide is hidden off-screen by `margin-left:-150%` and visually hidden by `visibility:hidden`, but once it’s active `:target` changes it to `0` and `visible`. You can use

[2016-07-05 18:52] RubenVerborgh commented on #254
@pepelsbey @zloylos I'd be willing to try this out to see what the resulting code looks like. (For a robust implementation, I prefer to have #253 sorted out first.)

[2016-07-07 18:45] NeomMob commented on #59
Thanks for the answer. I tried to play with the transition for the target but cannot get anything working properly.

How can I get a simple slide for left when moving forward and slide from right when moving backward?

Thanks!

[2016-07-08 20:41] pepelsbey commented on #59
@NeomMob, I checked if slide transitions could be easily implemented via CSS only and figured out that it’s not possible witout some additional core changes. I’ll try to fix it in the next few days and release it next week along with updated themes. Here’s a qiuck demo I built to test transitions, it’s going to be [something like this](https://jsbin.com/yokicay/edit?css,output).

[2016-07-09 11:11] NeomMob commented on #59
Thanks for your answer. This is exactly what I was trying to achieve. I was planning to use https://github.com/daneden/animate.css but maybe there is a better alternative.

Thanks again!

[2016-07-26 18:40] NeomMob commented on #59
Do you have any issue implementing transitions? Even if my knowledge is limited, is there anything I can do to help you?

[2016-08-08 10:41] luo820802 opened #277 "Fail to print shower slides on Safari but works fine on Chrome"
Will it be possible that Safari can output shower slides as pdf normally? I tries this on Chrome and the format stayed as it should be. But Safari was a mess...
Output of Safari
![diffusion mri theory methods and applications-7 dragged](https://cloud.githubusercontent.com/assets/10905163/17477357/6efca4ae-5d97-11e6-8bd7-0abe55e2c610.png)
But it should look like this from Chrome
![diffusion mri the

[2016-08-08 10:45] pepelsbey commented on #277
See #143 and [printing docs](https://github.com/shower/shower/blob/master/docs/printing-en.md). In short: Safari doesn’t support needed technologies to print right from the browser.

[2016-08-08 10:45] #277 closed

[2016-08-12 19:24] pepelsbey commented on #274
Fixed in ed650220 with exact regexp you suggested. Sorry it took so long and thank you!

[2016-08-12 19:24] #274 closed

[2016-08-29 11:09] iherman opened #280 "Video does not seem to work on blink derivatives (Chrome, Vivaldi)"
I use the following in a slide:

[code]

This works perfectly will on Firefox and Safari (both latest versions on Mac OS). The slide appears with the video image + control.

On Chrome and Vivaldi something strange occurs. If the size of the window, displaying the video, is relatively small, it is fine. However, if I increase the slide size, then the controls disappear, and I do not find a way to r

[2016-08-30 02:20] iherman commented on #280
You are right.

I have prepared a test on:

https://rawgit.com/w3c/dpub/gh-pages/drafts/PWP_future_slides/video.html

(it is an extract of a very large slide deck)

It uses the screen.css of the distribution.

It is definitely a matter of screen size, but I am not sure how.

- If I use my laptop (MacBook, retina display) and I "just" display it in the Vivaldi or Chrome browsers, it works fine. If

[2016-09-07 20:51] RubenVerborgh opened #281 "Fullscreen on iOS 9 shows address bar and toolbar"
On iOS 9, the address bar and toolbar are permanently visible when viewing slides:

![img_1377](https://cloud.githubusercontent.com/assets/675313/18327860/b59acf90-754c-11e6-8122-f0d0fe07400e.PNG)

This results in a degraded experience, as the slides are much smaller than they could be.

Interestingly, the list display does not have any bars:

![img_1376](https://cloud.githubusercontent.com/assets

[2016-09-07 21:08] RubenVerborgh commented on #228
Following up on this with shower/core#109.

[2016-09-07 21:08] #228 closed

[2016-09-08 09:10] pepelsbey commented on #281
I’d say Shower is not optimized to mobile/touch devices at all. This is the sad truth I have to admit. I did some work on mobile direction with themes recentry, featuring updated, mobile-first, more responsive and compact Ribbon and Material themes. But it’s obviously not enough. The next step in this direction should involve JS work, but currently it’s stuck since there’s no permanen JS developer

[2016-09-08 09:13] RubenVerborgh commented on #281
Well, at least Shower is following standards and best practices / progressive enhancement very well, so it works great on many devices.

I'll see what I can contribute for mobile devices. Problem is that testing is so cumbersome (but shower/core#109 will help big time with that :wink:)

[2016-09-08 09:13] pepelsbey commented on #281
I think this particular issue should be solved by using [Full Screen API](https://developer.mozilla.org/en-US/docs/Web/API/Fullscreen_API), available both on mobile and desktop. For example: press `F` key to go to full screen mode on desktop (simple click will start full screen in the bounds of the browser window) and touch for the same effect on mobile.

[2016-09-08 09:15] RubenVerborgh commented on #281
Not sure if Full Screen works well on mobile devices, but it might even be overkill (given that list mode works just fine).

[2016-10-09 07:33] NeomMob commented on #59
Hi, I tried to merge [this](https://jsbin.com/yokicay/edit?css,output) to Shower, but unfortunatley, without success yet (only works in one way and with some glitchs) Does anyone tried to do the same ?

[2016-10-15 09:24] koen-serry opened #283 "Allow advancing via click of button"

[2016-10-15 09:27] koen-serry commented on #283
Hi,

since this is more a plugin than something of the core I embedded the code inline (since the code is pretty trivial). Maybe it's helpful to some people.

`
shower.modules.require(['shower'],function(a){a.plugins.add("shower-click")});
shower.modules.define("shower-click", [ 'util.extend'], function (provide,extend) {

    var _this;
    function Click (shower, options) {
        options = opt

[2016-10-17 21:16] pepelsbey commented on #283
Hi Koen, it might be a good idea for an actual plugin. Shower distributive [consists of several of them](https://github.com/shower/core/blob/master/package.json#L62-L65), for example [shower-progress](https://github.com/shower/progress) or [shower-next](https://github.com/shower/next).

So if you’re interested enough you could make a real plugin of it and move it to [Shower GitHub organization](ht

[2016-10-26 04:47] mnot opened #284 "page-break-after: always"
Presentations are much easier to print with this CSS on `section`; Material (at least) lacks it.

[2016-10-26 05:40] pepelsbey commented on #284
I have never actually printed any of my slides on paper so it's hard to tell :) I've always considered PDF as a print target and it works great in this case. Let me check if it doesn't break anything first and then I'll add it to both built-in themes.

[2016-10-26 05:45] mnot commented on #284
Sorry - by "print" I meant "save as PDF" :)

It doesn't work so well in my case, e.g., for https://www.mnot.net/talks/web-adventure/

[2016-10-26 05:51] pepelsbey commented on #284
Have you seen [printing documentation](https://github.com/shower/shower/blob/master/docs/printing-en.md)? It suggest using Chromium-based browsers for PDF export since `@page` options required for the page sizing are supported only in such browsers.

How do you print your slides to PDF?

[2016-10-26 05:55] mnot commented on #284
Aha - I didn't see those docs (wasn't linked from wherever I looked), but I did try from Chrome; it was a mess. I think it's because I printed from the fullscreen view, not the list view (which works perfectly).

Thanks!

[2016-10-26 06:01] pepelsbey commented on #284
I'll make sure that docs are visible from the readme. I should probably also detect printing somehow and switch mode to the list.

Anyway, I'm glad it worked for you. Thank you for using Shower :)

[2016-10-26 06:01] #284 closed

[2016-11-28 16:12] nekromoff opened #285 "Timed presentations / advance automatically after delay"
I would like to see an option to advance automatically after some delay. I don't see that mentioned in the features or in the examples. Is that possible?

[2016-11-28 16:40] pepelsbey commented on #285
See [slide 28](https://shwr.me/shower/themes/ribbon/#28), it advances automatically in a few seconds because `data-timing` attribute is set.

[2016-11-28 16:46] nekromoff commented on #285
Thumbs up!

On Mon, Nov 28, 2016 at 5:40 PM, Vadim Makeev <notifications@github.com>
wrote:

[2016-12-01 18:52] binjospookie commented on #257
The simplest way to resolve this problem is using [cssua](http://cssuseragent.org). And if `<html>` contains class `ua-gecko` then remove `#`. What do you think about this solution?

[2016-12-01 19:57] pepelsbey commented on #257
@binjospookie, I’d rather try to solve it, not hide. Let’s see what Mozilla think about it.

Any idea, @miketaylr?

[2016-12-02 07:20] binjospookie opened #286 "Screen.css 404"
There are 3 presentations from README, which include this error:

* [Возвращение ножа и паровоза](https://pepelsbey.net/pres/knife-train/)
* [-Пре-фиксы. Зачем и как правильно](https://pepelsbey.net/pres/pre-fixes)
* [Вёрстка со смыслом](https://pepelsbey.net/pres/sense-coding/)

Error message:
[code]

It's not a great error, but...

[2016-12-05 21:35] miketaylr commented on #257
Hrm, interesting. Gecko, Opera 12 (Presto) and Edge all do the same thing.

It seems that setting `location.hash` to the empty string (in `_init` or shower.js) via `window.location.hash = ""` results in `#` being appending to the URL, except in WebKit and Blink.

I'm not intimately familiar with the URL standard's algorithms ([which are used in `location.hash`'s setter](https://html.spec.whatwg.or

[2016-12-06 16:44] annevk commented on #257
Currently we require empty string to result in # in the HTML standard.

[2016-12-06 19:12] miketaylr commented on #257
Thanks @annevk. So @pepelsbey -- seems like this is actually a Chrome bug.

[2016-12-22 07:33] viT-1 opened #287 "Supporting any other node for class="shower list" except body"
Do not turn on full screen mode by clicking on slide if this class marked on another node except body.

`<body><main class="shower list"><section class="slide">some slide</section></main><script src="js/shower.min.js"></body>`

[2016-12-23 07:39] tonyganch opened #288 "Restrict access to third-party applications"
This is an administrative issue.

Currently shower organization allows access to all third-party apps.
It means if any member of org personally grants access to some application, this app will also get access to shower's data.

From GitHub's help page:

Here are instructions how to fix that: https://help.github.com/articles/enabling-third-party-application-restrictions-for-your-organization/

I'm

[2016-12-23 08:09] pepelsbey commented on #288
Done. Thank you for heads up.

[2016-12-23 08:09] #288 closed

[2016-12-27 11:03] viT-1 opened #289 ""ol start" incorrect rendering"
Please check the drawing numbers for li elements.
Despite setting the attribute "start" li starts with the number 1.

[2016-12-27 11:23] pepelsbey commented on #289
It’s still impossible to control native browser list numbering via CSS: `@counter-style` is supported [only in Firefox](https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style). That’s why I [auto-generate list numbers and bullets via counters](https://github.com/shower/ribbon/blob/master/styles/slide/content/lists.scss#L35-L46):

[code]

AFAIK, there’s no way to pass `start` attribute in

[2016-12-27 11:28] pepelsbey commented on #289
I could probably add support for `value` attribute, [see demo](https://jsbin.com/mibuno/edit?html,css,output).

[code]

And

[code]

[2016-12-27 12:04] viT-1 commented on #289
I solved this problem by cutting shower CSS code about "ol", and it works fine in modern browsers (HTML5). Your workaround is too bulky, sorry. I don't want to control list numbering with CSS, because attribute "start" is semantic attribute not a stylistic.

[2016-12-27 12:11] kizu commented on #289
Researched a bit: it seems that webkits/blinks actually somehow support `start`: http://codepen.io/kizu/pen/yVdXjb?editors=1100, but that is surely an undocumented behaviour I guess? And other browsers wouldn't like it unless you'll hide it under browser hacks.

So, I'd say the best solution would be the one using JS: get all the lists with `start` and add inline style with a proper `counter-reset

[2016-12-27 12:17] pepelsbey commented on #289
OK, I’ll repeat again. There’s no way to control the following properties, required for the proper lists design: color and position. Without color and position it looks dull, like it’s Word 2000:

![image](https://cloud.githubusercontent.com/assets/105274/21499461/058a53f8-cc47-11e6-9c0b-691e2804dffe.png)

I prefer to have better control over list numbers and bullets styling:

![image](https://clo

[2016-12-27 12:21] viT-1 commented on #289
I agree about the fact that

but functionality without unnecessary crutches is more important!

[2016-12-27 12:24] pepelsbey commented on #289
I’m going to solve this problem by adding `value` attribute support (as semantic as `start`, [part of HTML standard](https://html.spec.whatwg.org/multipage/semantics.html#ordinal-value)). So you’ll need to write:

[code]

To proceed with desired numbering. But even more: in this case you’ll get any numbering you want:

[code]

![image](https://cloud.githubusercontent.com/assets/105274/21499582/45a

[2016-12-27 12:28] viT-1 commented on #289
I guess that js workaround with clearing css code about ol's is better.

[2016-12-27 12:28] pepelsbey commented on #289
@kizu, I wouldn’t go for JS approach simply because it wouldn’t be a polyfill of a standard behaviour, so it would surprise people by messing with their content and styling from JS that is supporsed to just switch slides.

[2016-12-27 12:30] pepelsbey commented on #289
OK, value fix then.

Will close this issue once new version of Ribbon and Material themes released.

[2016-12-27 12:31] pepelsbey commented on #289
@viT-1, thank you for pointing this out! Unfortunately web platform is not as mighty as it seems.

[2016-12-27 12:32] kizu commented on #289
Another idea: just hide all the OL styling under `ol:not([start])`, this way if someone would use it, they'll still get the proper numbering, but without the styles.

[2016-12-27 12:32] viT-1 commented on #289
@pepelsbey and you =)

[2016-12-27 12:33] viT-1 commented on #289
@kizu this is a good idea!

[2016-12-27 12:34] viT-1 commented on #289
@pepelsbey I've created another issue earlier ;)

[2016-12-27 12:39] pepelsbey commented on #286
Fixed by upgrading presentations to newer versions. Thank you!

[2016-12-27 12:39] #286 closed

[2016-12-27 13:58] pepelsbey commented on #287
I though it’s been fixed already. Let me do some testing and digging in issues.

[2016-12-27 14:13] pepelsbey commented on #287
OK, there are too many cases where `document.body` is used instead of just `.shower`. And this is not just a matter of search-and-replace, unfortunately. Shower depends on window size for scaling, meaning that it’s better to rely on the most outer container.

I think this could be fixed, though. But I’d make sure that functional tests are up and running, before even trying to touch this issue.

[2016-12-27 15:41] pepelsbey commented on #289
[Fixed](https://github.com/shower/ribbon/commit/f5446ed0a62b633bb6da96e77b5082a112d73da6) in shower-ribbon 2.0.9 and shower-material 1.0.8 updates. Or in the latest shower 2.1.6.

[2016-12-27 15:41] #289 closed

[2016-12-27 15:42] pepelsbey commented on #289
![bullets](https://cloud.githubusercontent.com/assets/105274/21502887/2a3cd244-cc64-11e6-9338-425f31c85e77.png)

[2016-12-28 08:25] toptalo commented on #104
Hello. What about swipe Up to exit full mode? Is this gesture used anywhere in shower?

[2016-12-28 08:28] pepelsbey commented on #104
@toptalo, swipe up could be used, there are no gestured used in Shower, only forward/backward taps.

[2017-01-16 21:54] toptalo commented on #104
@pepelsbey, what if replace tap action to swipe?
Swipe left/right for backward/forward and swipe up to exit full mode? Or make swipe only for exit?

[2017-01-16 22:07] pepelsbey commented on #104
It makes sense only when interface is responding to your swipes, otherwise it feels like it’s stuck. Taps work better in this case.

[2017-01-16 22:20] toptalo commented on #104
Ok. How can I try to add this swipe to exit action?
1. clone shower/touch
2. create a branch
3. make changes
4. create pull request in shower/touch?

[2017-01-17 06:26] pepelsbey commented on #104
@toptalo, exactly. You can have a look at what's currently going on in [shower/core PRs](https://github.com/shower/core/pull/120).

[2017-01-29 11:54] uyouthe opened #291 "F5 issue"
When I press F5 or Shift + F5 (Windows 8.1, Chrome), the slides doesn't update. Instead of that, it switches to #cover slide and the whole presentation does not seem to be updated, I still have the old slides. But, when I push the Update button in browser, the page update happens as needed.

[2017-01-29 12:25] pepelsbey commented on #291
That’s by desing, [see shortcuts docs](https://github.com/shower/shower/blob/master/docs/shortcuts-en.md), here’s slightly redacted version:

- Start presentation from the current slide: Shift F5
- Start presentation from the first slide: F5
- Stop presentation: F5

[2017-01-29 12:30] pepelsbey commented on #291
But the question remains: is it expected behavior on Windows? I’ve been trying to replicate PowerPoint and Keynote shortcuts to make it comfortable for the ones who get used to such software. But it seems I went too far.

[2017-01-29 12:49] uyouthe commented on #291
F5 is usually stands for page update. When I'm using browser, I expect that I have typical browser behavior and hotkeys at any page, including Shower

Thanks!

[2017-01-30 22:50] pepelsbey commented on #291
Fixed in [2f0af4d](https://github.com/shower/core/commit/2f0af4d8660e683af386cde07a3ad38d19821df4), will release it shortly.

[2017-01-30 22:50] #291 closed

[2017-01-31 05:50] bozaro commented on #291
Look like you need also update documentation.

[2017-01-31 07:44] pepelsbey commented on #291
@bozaro, [done](https://github.com/shower/shower/blob/master/docs/shortcuts.md), thank you for reminder

[2017-02-01 08:39] pepelsbey commented on #291
FYI: after futher testing I reverted `Shift F5` shortcut for starting presentation from the current slide since it’s a standard way in PowerPoint and it doesn’t affect Windows browsers.

[2017-03-05 22:22] handcoding commented on #77
For @miripiruni and others—do you by chance know of any documentation or examples for this feature? If it may be possible, I’d like to trigger a callback function in some external JavaScript when moving to the next slide.

[2017-03-05 23:12] pepelsbey commented on #77
@handcoding, unfortunately, there's no API docs available at the moment, but you can check Shower's [core files](https://github.com/shower/core/blob/master/lib/shower/shower.Player.js) to figure out what events to listen. AFAIK it should be possible. Author of the current API is @zloylos, but I think he's not available.

[2017-03-06 03:18] handcoding commented on #77
@pepelsbey @zloylos I’m not new to JavaScript, but I messed with this for an hour and a half, and I couldn’t even get a “hello world” to fire when the next slide appeared.

If either of you might be able to share a quick code example that logs “hello world” to the console when the next slide appears, I’d be super grateful. I don’t mind paying you for your time.

[2017-03-06 08:59] pepelsbey commented on #77
@handcoding, there’s [shower/notes](https://github.com/shower/notes) plugin for Shower adding notes to console on every slide switch. It might give you an idea how to use this API or white your own plugin.

[2017-05-14 08:43] vmarkovtsev commented on #281
This is an example of using Fullscreen API with shwr: [link](https://vmarkovtsev.github.io/devdays-2017-vilnus). Works like a charm in Android's Chrome. Not sure about iOS though.

[2017-05-14 08:47] pepelsbey commented on #281
@vmarkovtsev, it doens’t work on iOS :(

[2017-05-14 09:04] RubenVerborgh commented on #281
I'm still convinced it can be solved with pure CSS.  For example, [this very old HTML slidedeck](http://idlabresearch.github.io/Slides-Semantic-Web-Applications/) (non-responsive layout) shows without scrollbars.

[2017-07-05 15:05] rauschma opened #292 "Speaker notes?"
Any plans for showing speaker notes?

Sketch of a minimal solution:

* Jump to fragments of a file in a separate window, as various slides are shown.
    * For example: slide 1 goes to `file:/user/rauschma/tmp/notes.html#1` (etc.)
* Could be configured, e.g., by hooking into Shower via JavaScript.

That is, in this case, one would maintain speaker notes separately.

This is how Remark.js does spea

[2017-07-05 15:39] pepelsbey commented on #292
There’s already some kind of speaker notes format available:
[code]
You can put some text into `<footer>` of your slide at rehearse it in the list mode by hovering slides.
![image](https://user-images.githubusercontent.com/105274/27872298-f9669370-61b0-11e7-8a91-17f1f205d75b.png)
Not the best solution, but at least something. There used to be [shower-notes](https://github.com/shower/notes) plugin

[2017-07-05 15:45] pepelsbey commented on #292
So I don’t think that separating slides from notes is a good idea. It would make it harder to change slides order, etc. As for the actual interfrace that would show previous slide, timer and speaker notes, it’s just a question of time. I have some mockups and it would be the next priority right after we finish [moving plugins to ES modules](https://github.com/shower/core/commits/es-modules) (using

[2017-07-05 15:59] rauschma commented on #292
Nice! Looking forward to that!

I wouldn’t keep the notes separate; I’d write a tool that extracts them and puts them into a separate file.

[2017-07-11 16:35] rauschma opened #293 "Paragraph inside `<li>`"
[code]

This HTML (note `<p>` inside first `<li>`) looks as follows:

<img width="353" alt="shower-bullet-list" src="https://user-images.githubusercontent.com/526114/28079126-778f53bc-6667-11e7-836f-3a25576714a5.png">

[2017-07-11 22:25] pepelsbey commented on #293
It seems [the way I put list bullets](https://github.com/shower/ribbon/blob/master/styles/slide/content/lists.scss#L13) is not universal enough. Will take care of that, thank you.

[2017-07-11 23:21] rauschma opened #294 "Printing PDFs"
Printing the current slides via Chrome: [shower-chrome.pdf](https://github.com/shower/shower/files/1140459/shower-chrome.pdf)

Safari has similar problems. But they can be fixed by adding this CSS to `screen-16x10.css` (alas, this doesn’t fix Chrome’s problems):

[code]

Result: [shower-safari-modified.pdf](https://github.com/shower/shower/files/1140461/shower-safari-modified.pdf)

Tables are stil

[2017-07-12 22:48] pepelsbey commented on #294
I thought for a second that Safari finally supported `@page` for specifying page size and margin, but no, Chrome is the only browser capable of proper printing. Also this gradient trick that I’m using for drawing thin lines in tables and links looks way too ugly in Safari (just like in [Prince](https://www.princexml.com/), have you tried it?)

[2017-07-12 22:49] pepelsbey commented on #294
In general I don’t mind adding page-breaks to make PDF look better in Safari. I just though it’s not worth it considering overall quality.

[2017-07-12 23:01] pepelsbey commented on #294
Hmm, wait a second. How did you manage to get such a bad PDF output from Chrome?

![image](https://user-images.githubusercontent.com/105274/28143598-17b46636-676f-11e7-8fb2-36dfad582258.png)

It looks so much better in my case. Even perfect, I’d say.

[2017-07-13 23:27] rauschma commented on #294
Right. Weird. I can’t reproduce it now. The deck does indeed print perfectly on Chrome. Sorry for the fuss.

[2017-07-13 23:27] #294 closed

[2017-07-18 19:51] ivstas opened #295 "Is there a standard way to develop presentation?"
Last time I used shower I created my presentation by adding browsersync and then adding gulp task to watch changed files and instantly see the result in browser.

How do you, contributors of shower, develop your presentation?
I consider submitting a merge request with functionality described above, but probably there is a standard way I missed?
If no, do you consider browser-sync + gulp task suita

[2017-07-18 22:19] pepelsbey commented on #295
There’s a [similar task](https://github.com/shower/ribbon/blob/master/gulpfile.js#L13) in Ribbon theme. I thinks it’s a good idea to add something similar to Shower template. Feel free to submit PR! :)

[2017-07-20 14:48] pepelsbey commented on #295
Fixed in #296

[2017-07-20 14:48] #295 closed

[2017-08-02 21:43] #253 closed

[2017-08-02 21:43] #257 closed

[2017-08-03 23:32] pepelsbey commented on #222
Right, it seems they have reverted this behavior for local files. This thing works fine in the current Chrome.

[code]

@shvaikalesh, I guess it’s time to bring it back :) But let me test in IE/Edge first.

[2017-08-03 23:32] #222 closed

[2017-08-03 23:36] pepelsbey commented on #222
It works just fine in IE11 and Edge, as well as Firefox and Safari.

[2017-09-25 18:52] morozov opened #297 "Text shadows are not printed in Chrome"
There's a visual difference between how the slides are displayed on the screen and printed (exported to PDF in Chrome 61). Please see the images below:

### Screen view
![shower-shadows](https://user-images.githubusercontent.com/59683/30825411-bda27f4e-a1e7-11e7-8c84-bf94fd6a0d7e.png)

### Print view
![shower-no-shadows](https://user-images.githubusercontent.com/59683/30825426-d2aed7fc-a1e7-11e7-9

[2017-09-26 21:31] patrickhlauke opened #298 "hide/`display:none` slide when not active in full presentation mode?"
Just wondering if there's a reason why, when presenting, slides are "stacked" rather than using `display:none` to remove all but the `.active` slide. The current behavior, combined with large slide shows with lots of high-res images (which yes, admittedly aren't a fantastic idea for performance) results in heavy image decode thrashing in current Chrome (see https://twitter.com/patrick_h_lauke/stat

[2017-10-03 13:10] pepelsbey commented on #298
I did it mostly to prepare slides for possible animations. But I never managed to implement it. In fact, I even hate it. So if you say it would make performance better, I’ll try to make it a default behavior.

[2017-10-03 13:18] pepelsbey commented on #297
I don’t think there’s anything I can to to fix it. They used to work, they might fix it in the future. I hope I’ll find some time to file an issue, but any printing ussues usually have very low priority.

[2017-10-07 14:33] pepelsbey commented on #298
Right, there’s another problem: with `display: none|block` animated special effects like growing and shrinking shouts stop working, see [next 2 sliles](https://shwr.me/shower/themes/ribbon/#23) in fullscreen mode.

Here’s the [code for animation](https://github.com/shower/ribbon/blob/master/styles/slide/elements/shout-full.scss). I’m not exactly sure how to make it work with `display: none`

[2017-10-08 15:11] pepelsbey commented on #298
[Here’s the demo](https://codepen.io/pepelsbey/pen/LzQqZv?editors=1100) and it seems that no animation could be triggered on a slide after `display: none` to `block` switch.

[2017-10-08 16:27] patrickhlauke commented on #298
wonder if using CSS animation instead of transition could work...

[2017-10-08 16:35] patrickhlauke commented on #298
Of course, this makes it more cumbersome, but it seems to work - see demo https://codepen.io/patrickhlauke/pen/veRyyB?editors=1100

[2017-10-08 21:36] pepelsbey commented on #298
Yay! Will release Ribbon and Material versions with `display: none` this week. Thank you :)

[2017-12-24 14:50] patrickhlauke opened #301 "Documentation could do with expanding..."
...to cover things like disabling hotkeys etc (via data attributes?) when using the ready-made template

[2017-12-25 00:49] pepelsbey commented on #301
There’s a big shower-code rewrite happening at the moment, which will lead to some API changes and docs expanding. I‘ll make sure that this question is covered once we have 3.0 released.

[2017-12-26 14:17] patrickhlauke commented on #301
Happy to help with documentation when you get to a stable-ish state. Just ping me.

[2018-01-24 22:08] h4 opened #303 "Incomplete phrase in documentation (Types > Black)"
Permalink: https://github.com/shower/shower/blob/master/docs/features.md#black

Last paragraph in this section looks incomplete:

[2018-01-25 16:10] #303 closed

[2018-02-04 21:56] pepelsbey commented on #298
There’s a problem: when something’s `display: none` it doesn’t take part in counters. Meaning, that I can generate slide numbers only in list mode, in full mode every slide will be `1`. Any idea what to use instead of `display: none` to achieve the same perf results?

[2018-02-04 22:04] patrickhlauke commented on #298
i've actually switched to `visibility:hidden` ... does that also cause the same counter issue? https://github.com/patrickhlauke/getting-touchy-presentation/commit/7180a69cf038d4275e0aa825c443d0a8d5c688f3

[2018-02-04 22:06] patrickhlauke commented on #298
also, the perf problem seems to have been fixed (not yet in stable, but at least in canary), so you *may* get away with not actually fixing anything in the worst case...

[2018-02-04 22:09] pepelsbey commented on #298
If you wait long enough _any_ perf problem would go away :D

[2018-02-04 22:13] patrickhlauke commented on #298
![Capture from war games: Greetings professor Falken. Hello. A strange game. The only winning move is not to play](https://i.ytimg.com/vi/6DGNZnfKYnU/hqdefault.jpg)

[2018-02-04 22:21] pepelsbey commented on #298
There’s a problem with visibility: if you use it for something else (like `class="next"` steps) it will override parent’s visibility and pop-up over the current slide from somewhere else.

[2018-02-04 22:30] pepelsbey commented on #298
Good old `clip: rect(0 0 0 0)` to `clip: auto` switching works fine too.

[2018-02-05 12:44] lekzd commented on #206
I realized sources highlighting via highlight.js on nodejs for our corporate theme.
I can implement this in gulp "prepare" task. But it needs to change serve task. We should serve index.html from "prepared" folder instread of root folder

[2018-02-05 14:33] pepelsbey commented on #206
@lekzd, I’d go for a separate `highlight` task that would work inside `prepared` folder if it’s exists.

[2018-03-08 23:50] shvaikalesh opened #307 "Consider removing reset for <q> element"
There are a lot of quotation marks ([wiki: summary table](https://en.wikipedia.org/wiki/Quotation_mark#Summary_table)) for different languages. `<q>` element abstracts them away, both primary and secondary quotation marks. That is the main reason I put `lang` on `<html>`: to control quotes.

Shower [resets](https://github.com/shower/ribbon/blob/4a45b78f4fe2136ae06329e90d1349f78bd00f6b/styles/_rese

[2018-03-09 00:09] shvaikalesh opened #308 "Internationalize <blockquote> style"
Currently, `<blockquote>` has hardcoded glyph in its styling (`“`) , making it look a bit weird next to Cyrillic text. Different quotation marks have different widths, but it looks doable with `float`.

[2018-03-09 00:31] shvaikalesh opened #309 "Troubles marking up <blockquote>"
I use `<footer>` in `<blockquote>` element to mark up citation (per [this article](http://html5doctor.com/cite-and-blockquote-reloaded/)).

Sadly, Shower interferes with [this selector](https://github.com/shower/ribbon/blob/4a45b78f4fe2136ae06329e90d1349f78bd00f6b/styles/slide/content/footer.scss#L5), making the `<footer>` completely invisible.

I think we can easily fix this by adding child combi

[2018-03-16 07:51] Eugeno opened #310 "x-ua-compatible"
Is `<meta http-equiv="x-ua-compatible" content="ie=edge">` still relevant?
Btw, it's better to place `charset` above `title`, isn't it?

[2018-03-16 11:53] pepelsbey commented on #310
It used to help with old IEs, to keep them in standard compatible mode for local files. Haven’t tested this behaviour for while. Will do and remove it if IE11 behaves without `x-ua-compatible`.

Thanks!

As for charset, order doesn’t really matter. Correct server headers for HTML files, that’s what matters.

[2018-03-16 12:00] pepelsbey commented on #310
Strangely enough, it still works in IE11, with meta tag:

![image](https://user-images.githubusercontent.com/105274/37519566-9e497042-292a-11e8-8f3f-99dd22774b73.png)

Without, in IE7 mode:

![image](https://user-images.githubusercontent.com/105274/37519591-b909b964-292a-11e8-8929-c817c531da1c.png)

[2018-03-16 12:01] Eugeno commented on #310
It seems, that `x-ua-compatible` need only for unsupported IE9-, and no need for IE11. Don't realy know, if someone uses Shower at IE9 =)

That's true, just a safety net.

[2018-03-16 12:02] pepelsbey commented on #310
I don’t see any difference in rendering, though. It’s not supposed to work in IE7 mode, so I think there’s something wrong with mode switching.

[2018-03-16 12:05] Eugeno commented on #310
https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/dev-guides/bg182625(v=vs.85)#document-mode-changes

Is it?

[2018-03-16 12:07] pepelsbey commented on #310
Yes, it’s seems `<! doctype html>` is enough for IE11 to behave the way I need with local files. Will remove meta tag. Thanks!

[2018-03-19 08:49] pepelsbey commented on #308
Well, there are similar quotes in Russian too: `«почему „бы“ и нет»`, but we already have two different types of list markers, [see a sample slide](https://shwr.me/shower/themes/ribbon/#6). So I could do something like this for `<blockquote>` and `<q>`, but I’d rather wait until the next version is finished. There’s no CSS reset and it’s a good chance to refactor such things in a bigger, bolder up

[2018-03-19 08:49] pepelsbey commented on #307
Closed in favor to #308

[2018-03-19 08:49] #307 closed

[2018-05-11 11:57] avdeev opened #312 "Unnecessary fs npm package"
We can exclude `fs` from package.json. It already exists in the node.js core.
https://nodejs.org/api/fs.html

We can remove `fs` variable from `gulpfile`. It is defining, but not used.

[2018-05-11 12:27] #312 closed

[2018-05-11 12:28] pepelsbey commented on #312
Thanks!

[2018-05-11 12:29] pepelsbey opened #313 "Build is broken in Node.js 10"
[code]

Any idea?

[2018-05-11 12:31] pepelsbey commented on #313
Looks like [Native crash in Node 10](https://github.com/gulpjs/gulp/issues/2162#issuecomment-385197164)

[2018-05-11 13:29] kookma opened #314 "Integration with Tiddlywiki"
Tiddlywiki.com is a simple and yet very powerful single file wiki engine. Shower is lightweight and very powerful presenter in html5 but creating and maintaining slides and presentation with it needs html5 knowledge and not easy to go with alot og tags and elements in an html editor.

Integration of these two will result in a powerful and easy to learn engine for presentation.

[2018-05-11 14:09] avdeev commented on #312
So fast :)

[2018-05-11 15:15] pepelsbey commented on #314
Thank you for the idea. There are two concerns though:

1. It’s got to be a PR to have any perspective.
2. Every intergration should be not just written once, but constantly maintained.

If you’re somehow affiliated with Tiddlywiki there might be a interest to create and maintain such integration. Otherwise I don’t see how this idea might succeed.

[2018-05-12 13:33] kookma commented on #314
Hi pepelsbey,
 Well, the TW has a large community of developer and we have volunteer to do that! I will also help.
Having HTML5 presentation which can be used in any platform on top of a wiki.
TW is open source and free and has a very easy and short learning curve. It already have support for KaTex, highlight.js, markdown and ....
I am sure this integration will result in a great and powerful tool

[2018-05-14 09:23] avdeev opened #315 "How i can create new theme?"
Are there any tutorials, recomendations or guidelines for this?

[2018-05-14 10:39] pepelsbey commented on #315
The easiest way to create a theme is to fork Material one, change the main color and then customize everything else you need. There’s an idea to create a blank theme that could be used for the new ones, but it’s just an idea yet.

But you don’t have to follow this path if you want to creat truly original theme. There are only three API points that connect JS to a theme:

1. `shower` with `list` an

[2018-05-14 10:53] avdeev commented on #315
@pepelsbey Thanks!

1) Why to fork the Material, not Ribon?
2) What about creating a theme generator for the project, like [videojs/generator-videojs-plugin](https://github.com/videojs/generator-videojs-plugin)?

[2018-05-14 12:38] avdeev opened #316 "Use EditorConfig from HTMLAcademy?"
Can we use spaces instead of tabs? :)

https://github.com/htmlacademy/codeguide/blob/master/.editorconfig

[2018-05-14 12:38] pepelsbey commented on #315
Material is a bit more neutral and ready for customization. [There’s one generator](https://github.com/kirjs/generator-shower) already but I don’t think it’s maintained. Personally I don’t like yeoman generators, I’d prefer [a proper cli tool](https://github.com/shower/cli) that you might’ve noticed already.

[2018-05-14 12:44] avdeev commented on #315
Awesome :)

Ready to help with the development, if necessary

[2018-05-14 21:36] pepelsbey commented on #316
I don’t mind switching to spaces instead of tabs, [just like we did for shower/core](https://github.com/shower/core/blob/master/.editorconfig#L4). but not 2 spaces. It’s not a Python or YAML.

[2018-05-14 21:37] pepelsbey commented on #315
Please follow shower/cli for updates then. Thank you!

[2018-05-14 21:37] #315 closed

[2018-05-15 08:39] avdeev commented on #316
@pepelsbey Do you need PR?

[2018-05-15 10:09] pepelsbey commented on #316
Sure, let’s do it :) I’d start from themes by copying EC from shower/core.

[2018-05-15 15:49] avdeev opened #318 "Broken gift dependency in gulp-gh-pages"
Discussion https://github.com/shinnn/gulp-gh-pages/pull/117

[code]

[2018-05-15 20:05] pepelsbey commented on #318
Is there a better `gulp-gh-pages` alternative? Maybe we could replace it with the one that doesn’t fail.

**Off topic:** Speaking of which… if you’re interested working on Shower I’ll be glad to add you to contributors team that will give you push access. I’d still expect you to file PR for bigger changes so we could discuss them, but for minor tweaks the freedom is yours. What do you think?

[2018-05-16 09:04] avdeev commented on #318
Apparently the project **gulp-gh-pages** is abandoned.

We can switch to forks and wait. :)

1) `"gulp-gh-pages": "git@github.com:tekd/gulp-gh-pages.git#update-dependency"` (work for me)
2) https://www.npmjs.com/package/gulp-gh-pages-will

Or else I found this package - https://github.com/tschaub/gh-pages
It's more general and gulp agnostic. :) We can try to switch to it.

**Off topic**: @pepelsbe

[2018-05-17 11:46] pepelsbey commented on #318
You’re contributor now :) Welcome!

If you have time to replace `gulp-gh-pages` with `gh-pages`, please go fot it and let me know if I can help you in any way.

[2018-05-17 12:56] avdeev commented on #318
Awesome! :) I'll do it next week. :)

[2018-05-21 10:00] avdeev commented on #318
Solved in #320

[2018-05-21 14:40] #318 closed

[2018-05-22 21:04] davidneedham opened #321 "Vulnerabilities"
When I clone the repo I get a message about vulnerabilities from GitHub. And when I run `npm install` I see `60 vulnerabilities found` and `Severity: 25 Low | 16 Moderate | 19 High`.

I realize we may be waiting for the dependencies themselves to fix the issues, but is there a plan for Shower? Is there anything we should do in the meantime to mitigate the issues?

[2018-05-22 21:22] pepelsbey commented on #321
AFAIK, even with those 19 High vulnerabilities you’re more than safe because the we only use those modules during build process and not anywhere on a server. It means there’s no possible way for such modules to affect your presenation or local computer.

Unfortunately npm does this audit no matter how you actually use your code and it probably makes sense, but it obviously raises the question you’

[2018-05-23 07:58] avdeev commented on #321
Fixes would make sense if the dependency was used in runtime.
The shower is safe even with all these vulnerabilities.

[2018-05-26 09:54] avdeev commented on #313
Reproduce

[code]

[2018-05-26 12:57] avdeev commented on #313
Solution from https://github.com/gulpjs/gulp/issues/2162#issuecomment-384885950 is working.

I updated package-lock at https://github.com/shower/shower/commit/3f2bde797102203282de4e41e5db1744f24e8446

@pepelsbey Try to reproduce, plz

[2018-05-27 13:07] pepelsbey commented on #321
Closing it for now, meaning that currently there’s no reasonable action to be taken. Feel free to continue discussion though.

[2018-05-27 13:07] #321 closed

[2018-05-29 05:59] computationalstylistics opened #322 "Images not rendered"
Hi there!

After upgrading R to ver. 3.5.0 and, consequently, the packages `rmarkdown` and `rmdshower`, I cannot render presentations created a few weeks ago. I get the following issue: the code in my source file:

`![title](img/fig_3.png)`

is rendered:

`<p><img data-src="img/fig_5.png" alt="title"/></p>`

rather than

`<p><img src="img/fig_5.png" alt="title"/></p>`

The issue affect the followi

[2018-05-29 12:15] pepelsbey commented on #322
This kind of rendering is not related to Shower at all, please file an issue to rmarkdown or rmdshower projects, this is happening on their side.

[2018-05-29 12:15] #322 closed

[2018-05-29 21:01] sergeicodes opened #323 "Screen Reader issue"
## Screen Reader issue

When actively navigating through slide elements, screen reader reads the content from both the current slide and hidden `<section role="region">`.

### Steps to reproduce

1. Create 2 slides as follows

[code]

2. Open 1st slide in full screen
3. Go to 2nd slide
4. Start a screen reader (_VoiceOver_ on this example)
5. Open _Rotor_ panel
6. See the _Heading list_

### Expec

[2018-05-30 10:13] pepelsbey commented on #323
Thank you! Any idea for a possible fix?

[2018-05-30 10:28] krigersergei commented on #323
I would get rid of a hidden _a11y_ element and use a real slide for updating screen reader. Will try and see how it works.

[2018-05-30 10:46] pepelsbey commented on #323
Well, there’s a problem with that approach: currently Shower doesn’t focus slides while you navigating them, it just switches class names. In this case live region is the only option. But we can change Shower’s core behaviour to actually make slides focusable (`tabindex="0"`, etc.) In this case every slide will be announced as a section labeled with `<h2>`. But it requiers some coding and testing.

[2018-05-30 11:01] krigersergei commented on #323
Yeah, `tabindex` is the easiest way. Maybe not the best, but should work.

Sure, you can add me as a maintainer and I will check it when I have some more time.

[2018-06-09 07:34] avdeev opened #324 "Removing big files from a repository's history"
To create a new presentation, we need to clone the repository, which size about 17 MiB. Can we delete large files from history to make this process faster?

[code]

[2018-06-09 08:30] pepelsbey commented on #324
If you know how to clean it up, please go ahead and create PR. But it might break some forks.

[2018-06-14 09:27] avdeev commented on #324
Yes you are right. Removing files from the history is an unsafe operation.

We can use shallow cloning instead.
https://git-scm.com/docs/git-clone#git-clone---depthltdepthgt

[2018-06-14 09:32] avdeev commented on #324
**708.43 KiB** vs **17.79 MiB**

[code]

[code]

[2018-06-14 09:54] pepelsbey commented on #324
Somewhat fixed in #325

[2018-06-14 09:54] #324 closed

[2018-06-25 15:24] pepelsbey commented on #316
Fixed: it’s 4 spaces in all major repositories. I wouldn’t touch the rest repositories for now, most of them are obsolete.

[2018-06-25 15:24] #316 closed

[2018-06-25 15:25] pepelsbey commented on #314
Closing for now. Feel free to reopen if you’re willing to proceed.

[2018-06-25 15:25] #314 closed

[2018-06-25 15:29] pepelsbey commented on #313
Closing as fixed, I guess.

[2018-06-25 15:29] #313 closed

[2018-06-25 15:33] #310 closed

[2018-06-25 15:36] pepelsbey commented on #297
It seems like fixed in Chrome 67

![image](https://user-images.githubusercontent.com/105274/41860180-9e45d600-78a6-11e8-92b4-a0793910488a.png)

[2018-06-25 15:36] #297 closed

[2018-06-25 15:39] #67 closed

[2018-06-25 17:41] morozov commented on #297
Works for me too. Thank you.

[2018-06-26 12:47] pepelsbey commented on #309
Fixed in [material](https://github.com/shower/material/commit/abdff16c065eeff081916e032155a5ef7933ac87) and [ribbon](https://github.com/shower/ribbon/commit/07f4431caf5d6f85f82ef3a206661366dad2be1a) and released.

[2018-06-26 12:47] #309 closed

[2018-06-26 16:15] fuzzbomb commented on #220
It's not clear how a keyboard-only user (sighted, without a screen reader) starts the slideshow.  @danhopkins earlier comment here says that hitting return starts the slideshow, but I can't get that to work.    Hitting return causes a blue border to appear around the first tile, and repeating this causes the blue border to jump to successive tiles.  I can't figure out how to start the slideshow.

[2018-06-26 16:21] fuzzbomb commented on #220
I found shift-F5 and Cmd-Enter, but they're a bit obscure.  It's maybe OK for presenters to learn this control, but there's also the situation where someone posts their slides online for other people to use.  How would they discover shift-F5?

The docs for `Cmd Enter`, `Cmd Option P` and `Cmd Shift Enter` are Macintosh-sepcific.  I discovered that these work with the Windows key too, which could b

[2018-06-26 16:23] krigersergei commented on #220
@fuzzbomb I'm working on _a11y_ enhancements ([323](https://github.com/shower/shower/issues/323)), so also will take a look at what you said.
Any other ideas/comments are more than welcome.

[2018-06-26 16:49] LJWatson commented on #220
Worth noting that the application role does not change the keyboard interaction for non AT users. It just makes the keyboard commands usable with Windows screen readers.

[2018-06-26 16:50] danhopkins commented on #220
@fuzzbomb yep, unfortunately <return> support got broken in some update or other. win+f5 tends to work on linux, fwiw

[2018-06-26 16:51] LJWatson commented on #220
AIRC the keyboard command for triggering slide view was changed a year or so back. It used to be enter, but now (on Windows at least) control f5 does the trick. Agree the discoverability of these is less than ideal.d

[2018-06-26 16:59] krigersergei commented on #220
@LJWatson thanks a lot, I will add all these things in todo list of issues I found.

[2018-06-26 18:41] pepelsbey commented on #220
[There’s dedicated page](https://github.com/shower/shower/blob/master/docs/shortcuts.md) in the docs with all available shortcuts listed. But I totally agree that discoverability could be better.

[2018-06-26 18:45] pepelsbey commented on #220
@fuzzbomb they weren’t just invented, I replicated shortcuts available in PowerPoint and Keynote to make it easier both for users of traditional presentation systems and compatible with remotes.

[2018-06-26 18:54] pepelsbey commented on #220
As for Enter removal, I decided to make less exceptions in shortcuts. It used to be Enter for starting presentation and Enter and Shift Enter for moving forward and backward in presentation mode. Instead, I made Enter and Shift Enter work in boths mode as navigation shortcuts and Cmd Enter as dedicated shortcut for starting presentation.

Do you think it might help if I add Ctrl Enter as well?

Ot

[2018-06-26 19:39] LJWatson commented on #220
I think it would make things nearly unusable with a screen reader.

The way things work now, you enter slide view and can move between slides using enter/space/arrows/pgup/down (and these can also be mapped to bluetooth clickers).

Having to use tab and enter would be too much of a distraction when giving a talk. Removing the live region would also mean that a screen reader no longer automatically

[2018-06-26 19:46] krigersergei commented on #220
@LJWatson we were talking about having focusable slides instead of hidden ARIA region, cause there is one issue with content duplication. When actively reading a content with a screen reader in full screen mode, the screen reader reads the content from both real slide and ARIA region.

Did you experienced this?

[2018-06-26 20:05] LJWatson commented on #220
@krigersergei No, I don't think I have.

When in slide view (control f5) it isn't possible to read the slide content using standard screen reader commands (because of the application role). The only way is to move to the next/previous slide, and have the live region trigger the announcement.

If not in slide view, then the keyboard commands for moving to the previous/next slides don't work (becaus

[2018-06-26 20:30] krigersergei commented on #220
@LJWatson Yes, I use MacOS (High Sierra)/VoiceOver for testing.

In short words VoiceOver reads more than we need when you are navigating through the slide. This issue is described in #323. Please let me know if it's not clear enough.

Since the current version of shower obviously is not working properly with screen readers and a keyboard, we are looking for some other ways of making it accessible

[2018-08-20 13:47] pepelsbey opened #326 "Add print script for PDF export"
Currently, Shower [printing docs](https://github.com/shower/shower/blob/master/docs/printing.md) suggest using Chrome for printing slides, which sometimes could be unreliable for presentations with a large number of slides.

But it’s also possible to print Shower slides to PDF using puppeteer:

[code]

It would be great to have a command like `npm run print` that would produce PDF. But I already s

[2018-08-20 14:13] avdeev commented on #326
@pepelsbey Why it could be unreliable?

I thing that using a full-fledged (with head :)) browser should be more reliable.

[2018-08-20 14:25] pepelsbey commented on #326
Just a few problems:

1. By default print dialog using an actual printer as a target, it should be changed to PDF to make it work. It’s an extra step that confuse many people.
2. If you print from full mode you’ll get your slides distorted because of `transform: scale(x)` applied to `<body>`. It only works as expected from list mode and also quite confusing.
3. Some big presentations take ages to

[2018-08-20 15:10] stas-dolgachov commented on #326
@pepelsbey I would like to try. I am new to the Shower, so it might take some extra time for me to get familiar with the code base, but still.

[2018-08-20 17:55] nikolay-govorov commented on #326
[CLI](https://github.com/shower/cli) can it. If it works the wrong way, or you meet the error, create a issue for CLI – I will correct.

[2018-08-20 21:32] pepelsbey commented on #326
It would be good to integrate printing into shower package itself using shower-cli in npm script. @nikolay-govorov, is it something that could be easily done or it would require some changes?

[2018-08-21 09:12] pepelsbey commented on #326
OK, it seems it would be better to make it a part of [shower-cli](https://github.com/shower/shower-cli) package and then implement it via npm scripts back here. So please welcome to [cli/issues/6](https://github.com/shower/cli/issues/6) for improving PDF printing.

[2018-08-21 11:20] nikolay-govorov commented on #326
@pepelsbey, no, adding print to this repository should be very easy.

[2018-08-24 16:36] #326 closed

[2018-08-25 08:00] mistakster opened #329 "The first <pre> on a slide has unwanted margin-top"
I have some slides which contain only blocks of code like the following example.

[code]

I’ve spotted that the text is not aligned correctly. Please, see the examples below.

![Unwanted gap at the top of the block](https://user-images.githubusercontent.com/531671/44616301-b44ee500-a866-11e8-9375-b50c33946723.png)

![The same block without the gap](https://user-images.githubusercontent.com/531671/

[2018-08-25 08:09] pepelsbey commented on #329
Yes please! I guess it’s caused by reset.css removed it the latest major versions of Ribbon and Material. There’s a proper reset for `<p>`, but I [completely forgot](https://github.com/shower/ribbon/blob/master/styles/slide/content/code.css) about `<pre>`’s margins.

[code]

[2018-08-25 08:11] pepelsbey commented on #329
And while you’re at it, could you please check if there’s anything similar happening with other elements? I’d appreciate it :)

[2018-08-25 08:15] mistakster commented on #329
Sure. I’ll make the PR later today. Cheers!

[2018-08-25 09:59] mistakster commented on #329
@pepelsbey, I‘ve checked other styled elements. They seem to be fine.

[2018-08-25 12:56] #329 closed

[2018-08-26 13:29] krigersergei commented on #220
@pepelsbey @LJWatson

I made some enhancements, please test now (check https://github.com/shower/core/pull/136 first).

Try to read slides in both *grid* and *slide*.

It's not a final implementation, just an idea how it can be, so any feedback is more than welcome.

So far I only tested in VoiceOver, more screen reader testing will be done a bit later.

[2018-08-27 19:13] LJWatson commented on #220
@krigersergei do you have a working implementation that can be used for testing?

[2018-08-27 19:28] krigersergei commented on #220
@LJWatson yes I do, in [this branch](https://github.com/shower/core/tree/accessible-slides).

Simply clone it, run `npm run serve` (should serve on port 8080 or whatever it prompts), then clone [basic presentation template](https://github.com/shower/shower) and replace `node_modules/shower-core/shower.min.js` in the bottom of `index.html` with `http://localhost:8080/shower.js` to use new code.

Al

[2018-08-27 19:44] krigersergei commented on #220
@LJWatson I just deployed a built version [here](http://sergeikriger.com/shower-test/), hope that helps.

[2018-08-27 20:59] LJWatson commented on #220
Thanks @krigersergei

I've been testing with Firefox 61 and Jaws 2018, and unfortunately there are lots of problems.

When in grid view, none of the slide content is available. Although each slide has an h2 and content, they are not accessible to the screen reader. This is because aria-hidden="true" has been applied to both the h2 and the content of each slide.

In addition, tabindex="-1" has been

[2018-08-28 05:50] krigersergei commented on #220
@LJWatson short question: what do you expect screen reader to say when in grid mode you use arrow keys for selecting a slide (before you open it)?

[2018-08-28 09:54] pepelsbey commented on #220
Let’s take a step back and think about the whole system again. Using built-in terminology there are two Shower modes: *list mode* (with all slides listed as thumbnails for a quick visual overview) and *full mode* (with current slide expanded fullscreen). The only difference between them are:

- `list` or `full` class name applied to the root element change styles.
- current slide fits viewport in

[2018-08-28 11:30] krigersergei commented on #220
@pepelsbey

Either content readable in the list mode or not was just an idea taken from Keynote and PowerPoint and can be easily removed. After @LJWatson comments it's obvious that everything should be readable in all modes.

The problem in the previous solution is that content duplication didn't work well, so when you read the slide it's repeated twice. Since the current implementation didn't wor

[2018-08-28 19:56] LJWatson commented on #220
Ok, I think this is where we're getting tangled up. The list view shortcuts do work if you use VoiceOver (on the Mac), but they do not work if you use Jaws or NVDA (on Windows).

This is because screen readers on the different platforms behave differently. There is a detailed explanation in [Understanding screen reader interaction modes](https://tink.uk/understanding-screen-reader-interaction-mode

[2018-08-28 20:40] LJWatson commented on #220
Looking at this more with help from @scottaohara, there might be a solution...

First of all, the problem of VoiceOver not reading the slides in list view, is only when using the arrow keys. VoiceOver does read the slides when using standard web navigation commands.

The problem seems to be caused by VoiceOver not tracking focus properly, when the arrow keys are used to highlight the next slide in

[2018-08-28 20:47] krigersergei commented on #220
@LJWatson to put `tabindex="0"` was my first idea. I tried it out and got some problems, such as not all screen readers read dynamically focused element in the same way. Some of them read the whole element content, some of them read nothing. For now I agree with @scottaohara that it may solve the problem and will implement it.

[2018-08-29 18:30] LJWatson commented on #220
In conversation with @stevefaulkner, he suggested explicitly putting a role on the ```<section>``` element, since this may help.
[code]

I think if you can do this, and take out all the aria-hidden attributes, we might be close to a solution. That works with all screen readers, if a little differently for each one.

[2018-08-29 18:32] krigersergei commented on #220
@LJWatson thanks, will try it out.

[2018-09-01 17:12] krigersergei commented on #220
@LJWatson I made some changes @stevefaulkner suggested, could you please check it? Here is a [deployed version](http://sergeikriger.com/shower-test/) of last changes or you can pull it from `shower/core`.

In VoiceOver Chrome it was quite nice with only thing that VoiceOver didn't read both ordered and unordered lists automatically, so I had to read them with keyboard.

In NVDA and JAWS it wasn't

[2018-09-01 17:28] krigersergei commented on #220
@scottaohara each slide gets `role=region` dynamically once it's active. `aria-label` is not used, because this way screen readers (at least VoiceOver) read only a label, but the goal is that screen readers read all the content.

[2018-09-03 06:43] jingsam opened #331 "Markdown support"
Any plan to add markdown support?

[2018-09-03 06:49] pepelsbey commented on #331
How exactly you see it? Make it a proper feature request.

Currently we find HTML easy enough to write to keep it default format. Also Markdown would require tons of hacks to attach class names or even inline styles to elements, which is crucial for any presentation that want to use built-in theme features or create some custom styles. Otherwise it would be just a boring PowerPoint slides with bul

[2018-09-03 07:28] jingsam commented on #331
Why developers love markdown? Because it is simple, human readable and expressive. With markdown, users do not need to remember the tags and classes to build a slide. It is also easy to be read and edit. Some similar projects like reveal.js, remark all have markdown support. These projects do not just produce boring `bullet lists and heading` slides. Markdown syntax can be extended to fit the spec

[2018-09-03 07:38] krigersergei commented on #331
@jingsam I think using markdown for slides is totally different approach of creating slides. How would you like combine it with shower?

With markdown you will lose the freedom of creating really custom unique slides - that's what people like about shower I guess. I tried several presentation engines and decided to stick with shower, cause when you got familiar with it, it gives you so much power

[2018-09-03 07:51] jingsam commented on #331
Adding markdown support does not mean dropping current HTML style. We can add a transforming tool that paring markdown to shower html elements.

In my point of view, the most use cases of shower is for simple and quick presentation, such as technique talks. If users need a really custom unique slides that have unique style and complex transitions, I think they would choose PowerPoint or Keynote.

[2018-09-03 08:32] jingsam commented on #331
Maybe we could add a interface like this:

[code]

I have found someone use markdown to generate shower slides:

![image](https://user-images.githubusercontent.com/1522494/44976144-d6e3ab00-af96-11e8-9dcb-2a6795b64298.png)

![image](https://user-images.githubusercontent.com/1522494/44976153-dc40f580-af96-11e8-801a-d7cb29c7489a.png)

[2018-09-03 09:02] jingsam commented on #331
I found a code snippet in index.html:

[code]

I don't think any users like to highlight code like this. Use Github Flavored Markdown is more convenient:

<pre>
[code]
</pre>

[2018-09-03 10:40] pepelsbey commented on #331
I totally agree that code samples workflow is far from being optimal, but [there’s PR for that](https://github.com/shower/shower/pull/304) that will be probably integrated to shower-cli, have you see it? It’s still WIP, but we’ll feature it soon on [@shower_me](https://twitter.com/shower_me) Twitter.

From the screenshots above I only see that you want speakers to bore an audience to death with th

[2018-09-03 10:49] pepelsbey commented on #331
Speaking of

[code]

This is exactly what made me start (and keep develoring) my own presentation engine. I hate complexity and limitations of Reveal.js and such tools. So this never going to happen. I want to keep Shower as simple and declarative as possible. No JS for enabling features, but declarative tags or attributes. No confings, but smart defaults or CLI tools with flags.

Everything shoul

[2018-09-23 15:52] vmarkovtsev opened #332 "PT Sans Narrow font is not loaded"
I don't get the font for the headers when I load the presentation page:

![image](https://user-images.githubusercontent.com/2793551/45929930-9d300f80-bf58-11e8-8ca7-428d5e9c4963.png)

Tested on Chrome 59 and Firefox 62 on Linux.
Ctrl-R fixes the fonts.

I tried to include the fonts CSS in the header:

[code]

which helps - now I don't get the font on cold load (Ctrl-Shift-R) only once per 5 tries.

[2018-09-23 15:56] pepelsbey commented on #332
Yep, my bad. You can fix it in font.css by changing `font-display` property value (or removing it altogether) from `optional` to `swap`, for example. I’ll fix it as soon as possible. Feel free to send PR to Ribbon and Material :) I’m not sure though what value would be better.

[2018-09-23 16:02] vmarkovtsev commented on #332
I will hack on my side and wait for your fix :smile:  Thanks for a :zap: response!

[2018-10-01 08:41] avdeev opened #333 "Avoid commits presentation.pdf"
I think we need to add presentation.pdf to .gitingore, as well as archive.zip.

[2018-10-01 08:52] pepelsbey commented on #333
+1

[2018-10-01 12:27] avdeev opened #334 "Missing filename in pdf script"
Script works correctly, but prints to the console `undefined` instead of `presentation.pdf`

[code]

[2018-10-08 09:48] avdeev commented on #333
Closed in https://github.com/shower/shower/commit/8a80ffc44edac1494091807ccac8d446c9089dbe

[2018-10-08 09:48] #333 closed

[2018-10-08 09:49] avdeev commented on #334
Oops. Bad reference.
I reopened issue.

[2018-10-14 22:13] lordadamson opened #335 "Control shower presentation remotely using socket.io"
Okay so I used a socket.io server to control my presentation from a mobile and I thought I'd share it with you guys. Not sure how it could be integrated into the project itself though.

my directory structure looks like this:
[code]

So here's my `index.js`:
[code]

and here's the client that will be used to control the presentation possibly from a phone, which I creatively called: `phone_client.h

[2018-10-15 11:38] pepelsbey commented on #335
Thanks! We’ll definitely release a plugin with similar functionality and might even use some of your code :)

[2018-10-15 11:38] #335 closed

[2018-10-15 12:11] lordadamson commented on #335
Awesome :D
PS. I love shower

On Mon, Oct 15, 2018, 1:39 PM Vadim Makeev <notifications@github.com> wrote:

[2018-10-20 09:42] nikolay-govorov opened #336 "Updated the structure of the publishing packages"
So that we can conveniently manage dependencies and easily publish new parts of Shower, it would be cool to install packages from a common namespace. For example `@shower/cli` or `@shower/core`

To do this, you need to update the structure of the repository, which is published under the name `shower`. The problem is that this repository now contains a template for creating a new presentation.

Sin

[2018-10-20 19:46] avdeev commented on #336
Intermediate step sounds good.

[2018-10-20 21:01] pepelsbey commented on #336
I’d prefer `shower/shower` to remain user-faced repository as it’s a default one for issues and historically. If there’s a template presentation, why don’t we keep it here instead of hiding it in `shower/cli` internals and mixing JS code with HTML content in the same repository.

Is it possible for `shower/cli` to use `shower/shower` contents as a sample presentation? There could be not just `show

[2018-10-20 21:12] nikolay-govorov commented on #336
It seems to me that what is in `shower/shower` and what is generated through the CLI are different things. I think the CLI should generate an empty presentation.

In addition, the template from which the CLI generates the presentation is unusable. For example, there in the template is substituted theme and aspect ratio.

I like the idea of keeping the template separate from the tool, but I don't t

[2018-10-20 22:29] pepelsbey commented on #336
I totally agree: _by default_ it should generate an empty presentation. But I also suggested sample option, which often exists in tools like this. And we could keep template in the main repository. I don’t want CLI to become the only option for using Shower. Sure, it’s the most convenient one, but it takes some specific knowledge. I want to keep existing `shower.zip` and `git clone shower/shower`

[2018-10-21 12:14] nikolay-govorov commented on #336
I agree that the CLI should not be the only way to use Shower. The CLI in this case is not so much a way to create a presentation as a kernel to manage it. Instead of the old gulpfile. Even if the presentation is downloaded as `shower.zip`, **it will still use the CLI**. In other words, in `shower/shower` is not a template, and have already created a presentation.

I like the ability to use my own

[2018-10-21 20:04] pepelsbey commented on #336
SGTM :)

[2018-11-05 09:40] wulucxy opened #337 "can't not work with medium-zoom"
Hi，
  I wanna to some feature like [medium-zoom](https://github.com/francoischalifour/medium-zoom)，but because the project add a lot action on body，I tried a lot，but still failed。
  do you guys have any suggestion?

[2018-11-05 10:46] pepelsbey commented on #337
What exactly are you trying to achieve: change Shower’s behavior or use external script?

[2018-11-05 11:19] wulucxy commented on #337
hi，@pepelsbey。the case is：

![image](https://user-images.githubusercontent.com/5326403/47994976-eb772780-e12e-11e8-8d6b-4fc245102b7c.png)

when I show the slide on a big hall，the people in the last rows is unable to see the code。

so，I wanna to show the original pic in the center of the screen when I click the small pic。

the problem is root element：body has too much thing，including layout and sca

[2018-11-05 13:02] vmarkovtsev commented on #332
Fixed

[2018-11-05 13:02] #332 closed

[2018-11-05 20:04] pepelsbey opened #338 "Change Next behaviour to match slides"
What’s currently happening when we move through slides:

[code]

In case of the Next plugin it looks different:

[code]

There’s no truly active item (all of them are active), there’s no visited steps. Even with the same class names the principle is quite different. So I suggest we apply the same behavior to the Next plugin:

[code]

By default `.next` is invisible and `.active` triggers visibilit

[2018-11-05 20:10] pepelsbey commented on #337
Unfortunately this is how Shower scaling works. And there’s no way to change it without breaking everything else. But there are plenty of ways to make it work the same way.

If you want your pictures to become bigger, make them bigger. You don’t need a gallery script for that. You can put a picture to the next slide and make it bigger. You can use the `next` class to trigger some changes inside of

[2018-11-05 20:10] #337 closed

[2018-11-05 20:28] nikolay-govorov commented on #338
I'm not sure I fully understand the problem, but I like the idea of standardizing behavior. And it seems the idea to highlight the active slide is correct

[2018-11-05 20:38] pepelsbey commented on #338
@nikolay-govorov imagine you have a simple `next` list where every item is invisible by default. You go through it step by step to show the full list. Right? But what if you want to make all previous items a bit greyed out? Like so:

<img width="646" alt="image" src="https://user-images.githubusercontent.com/105274/48025211-d5c82900-e153-11e8-95df-60caa6d4e90d.png">

There’s currently no way to ac

[2018-11-23 13:48] iamchetanp commented on #187
Is there anyway to create link/button that download presentation automatically as PDF? So we can share link like Download Presentation.

[2018-11-23 14:08] pepelsbey commented on #187
The easiest way would be to export your presentation to PDF and put it next to your `index.html`. Then you can make “Download Presentation” button (link) that would point to `index.pdf`. See PDF instructions on how to make PDF, it’s a easy as printing your slides from Chrome, but personally I prefer CLI way, it’s just faster.

[2018-11-27 11:26] Semigradsky opened #339 "Improve contrast-ratio for header"
The header on 'ribbon' theme is really hard to read.
It has constrast-ratio - 1.57

![screenshot from 2018-11-27 14-19-11](https://user-images.githubusercontent.com/1198848/49078767-f285e700-f24f-11e8-82c0-2dc5b45d1cff.png)

For example, changing header colour to white (constrast-ratio - 6.83):
![screenshot from 2018-11-27 14-18-56](https://user-images.githubusercontent.com/1198848/49078827-2234ef

[2018-11-27 11:39] pepelsbey commented on #339
You’re totally right, contrast ratio is way to small. I’ll think about it, it’s more than just a “make it brighter” decision, I’d like to keep the same design. Quick test with 3.08 ratio:

![image](https://user-images.githubusercontent.com/105274/49079650-3f6abd00-f252-11e8-9494-13f24070f43e.png)

[2018-11-27 11:53] Semigradsky opened #340 "Strange working on mobile"
How I see presentation (https://shwr.me/) on my device (it is working ok if I turn on full screen in browser):

<details>
<summary>Screenshot 1</summary>

![photo5469740791506250171](https://user-images.githubusercontent.com/1198848/49080027-5827a280-f253-11e8-8c8e-6f060f4f6bd9.jpg)

</details>

<details>
<summary>Screenshot 2</summary>

![photo5469740791506250170](https://user-images.githubuserco

[2018-11-27 11:57] pepelsbey commented on #340
Unfortunately, Shower is not really optimized for using in full screen mode on mobile.

Version 3.0 refactoring is almost finished and this will be the number one priority once it’s released.

[2018-11-27 12:06] Semigradsky commented on #340
Oh, it is working perfect on full screen mode for me:
<details>
<summary>Screenshot 1</summary>

![photo5469740791506250167](https://user-images.githubusercontent.com/1198848/49080750-b35a9480-f255-11e8-9c3a-e1584fb11613.jpg)

</details>
<details>
<summary>Screenshot 2</summary>

![photo5472331086282467851](https://user-images.githubusercontent.com/1198848/49080751-b35a9480-f255-11e8-8316-e5937080

[2018-11-27 12:16] pepelsbey commented on #340
It’s not a list mode on your first pictures. I wonder if you could list steps to reproduce:

1. Open anonymous tab in Chrome browser on Android
2. Type URL
3. …

I would really help. I’ll also test it on Android later today.

[2018-11-28 00:33] pepelsbey commented on #339
[Fixed](https://github.com/shower/ribbon/commit/774a84601ffa91cb8c9cd7494ed88eed1d1febce) and released. Thank you!

<img width="888" alt="image" src="https://user-images.githubusercontent.com/105274/49120575-40d1cf00-f2be-11e8-8b87-f37dea3b1aaa.png">

[2018-11-28 00:33] #339 closed

[2019-02-08 12:43] kix opened #342 "Add an option to disable hotkeys?"
Currently, `Enter` is always switching to the next slide, while `Shift+Enter` goes to the previous. This makes it impossible to use a `<textarea/>` inside a slide (for example, when embedding [@viebel/klipse)](https://github.com/viebel/klipse). There should be some way to disable the keypress handlers via configuration.

Perhaps this could be achieved by passing the `Shower`'s options to all of th

[2019-02-08 12:49] pepelsbey commented on #342
There supposed to be a special measure for preventing shortcuts to mess with interactive elements, such as links, buttons, inputs, etc.

It’s clearly a bug if it doesn’t work. Could you please provide a demo or code sample?

[2019-02-08 13:00] kix commented on #342
Wow, thanks for such a quick reply, @pepelsbey :)
Here's a quick demo: https://elated-hawking-792449.netlify.com
Source: https://github.com/kix/cljs-talk
Could this be related to some magic behind klipse attaching its listeners? Even if so, I think since Shower will never really know what 3rd party scripts are embedded and how they'd handle keypresses, we might need a way to fine-tune the keypress

[2019-02-08 13:01] kix commented on #342
Hm, although I forgot I've added a simple `<textarea>` on the next slide, and the problem persists there, too.

[2019-02-08 13:29] shvaikalesh commented on #342
Shower's approach of [detecting interactive elements](https://github.com/shower/core/blob/master/lib/utils/index.js#L2) should work with most third-party components. Particularly, the ones built with basic accessibility (like, handling focus) in mind.

`klipse` uses hidden `<textarea>` to handle input: `@shower/core` beta detects it correctly and disables hotkeys. It is pretty safe to update: plea

[2019-02-08 13:31] kix commented on #342
Thanks! Will test and report here if it's all good

[2019-02-08 14:11] shvaikalesh commented on #265
Resolved in https://github.com/shower/core/pull/134.

[2019-02-08 14:11] #265 closed

[2019-02-08 14:13] shvaikalesh commented on #285
As of new `@shower/core`, `data-timing` could have either `3s` or `00:03` format.

[2019-02-08 14:13] #285 closed

[2019-02-08 14:41] shvaikalesh commented on #166
Latest `@shower/code` correctly detects interactive elements (even custom ones, if they are focusable).

[2019-02-08 14:41] #166 closed

[2019-02-08 17:40] shvaikalesh commented on #97
We can utilize `prefers-color-scheme` media query and `AmbientLightSensor` to detect wanted mode. If we had "presenter view", we would definitely know that dark mode is undesired.

[2019-02-08 17:57] pepelsbey commented on #97
No-no, black mode is just a black slide. Typical thing for PowerPoint and Keynote. Some clickers even have a dedicated B button.

[2019-02-08 19:12] shvaikalesh commented on #283
Simpler implementation for latest `@shower/core`:

[code]

[2019-02-08 19:12] #283 closed

[2019-02-08 19:15] #119 closed

[2019-02-08 19:19] shvaikalesh commented on #190
Closing because scrolling with `wheel` was removed for some time now.

[2019-02-08 19:19] #190 closed

[2019-02-08 23:41] shvaikalesh opened #344 "Exit full mode on swipe down"
See https://github.com/shower/touch/pull/12

[2019-02-09 18:01] kix commented on #342
Resolved in beta

[2019-02-09 18:01] #342 closed

[2019-02-10 01:42] shvaikalesh commented on #293
<details>
  <summary>HTML code</summary>

[code]
</details>

<img width="690" alt="the issue was fixed in latest major of Shower themes. Thanks for reporting" src="https://user-images.githubusercontent.com/5098878/52528349-7c890c00-2ce5-11e9-94cf-f782c3b0e164.png">

[2019-02-10 01:42] #293 closed

[2019-02-10 20:00] shvaikalesh commented on #192
I can confirm that with mouse & latest `@shower/core`, copy-pasted [d3 example](https://bl.ocks.org/mbostock/raw/1062288) works in Shower just as good. Regarding touch actions: they are currently removed, but will be reimplemented with careful consideration of interactive elements.

[2019-02-10 20:00] #192 closed

[2019-02-10 23:09] shvaikalesh commented on #301
@patrickhlaukeI assume you are having troubles with interactive elements. Latest `@shower/core` has improved approach of [detecting interactive elements](https://github.com/shower/core/blob/95134bc849ff67d9567b2cfaf1df1bc250787c36/lib/utils/index.js#L2) instead of tag names whitelist. Also, Shower will ignore [canceled events](https://dom.spec.whatwg.org/#canceled-flag).

We are very hesitant to i

[2019-02-10 23:24] #301 closed

[2019-02-13 00:15] shvaikalesh commented on #287
Latest `@shower/core` respects `containerSelector` option and does not reference `document.body` directly. However, we still use `window.onresize` handler for scaling: putting invisible `<iframe>` inside Shower container is too invasive, `ResizeObserver` is a bit unstable and requires reasonably large shim.

[2019-02-13 00:15] #287 closed

[2019-02-13 00:34] shvaikalesh commented on #71
That indeed would be great, but I would consider [Web Bluetooth API](https://webbluetoothcg.github.io/web-bluetooth/) or [WebRTC](https://w3c.github.io/webrtc-pc/) before resorting to HTTP server. That, of course, if those work in `file://` protocol.

Perhaps @pepelsbey can shed a light on [Web Bluetooth API](https://webbluetoothcg.github.io/web-bluetooth/) limitations.

[2019-02-13 00:38] shvaikalesh commented on #135
With EdgeHTML going away, I would prefer `touch` events for this specific plugin. While Pointer Events are better designed, they are quite low-level and we would have to check for `pointerType` anyway.

[2019-02-13 00:55] shvaikalesh commented on #261
Resolution: scaling module should set CSS custom property instead of setting `transform` directly. That way we can limit scaling to `@media screen`.

[2019-02-13 00:58] shvaikalesh commented on #104
@pepelsbey Should we close this one in favor of #344 or let's have them both?

[2019-02-13 11:55] nikolay-govorov opened #345 "Update the `advanced` section in Readme given the CLI"
The main Readme of this repository has the `advanced` section. It is designed for advanced users who can use `git`/`node`/`npm`. It will be much more convenient for such users to use the CLI than to clone the template.

[2019-02-13 11:58] nikolay-govorov commented on #206
@pepelsbey, maybe to close?

[2019-02-14 10:04] pepelsbey commented on #206
@nikolay-govorov I think this is a good issue to discuss possible plugin that would use [Highlight.js](https://highlightjs.org/) or [Prism.js](https://prismjs.com/).

[2019-02-14 10:08] pepelsbey commented on #345
I’d rather keep advanced option and introduce another one with CLI.

[2019-02-14 12:19] pepelsbey commented on #345
Waiting for [shower/cli#26](https://github.com/shower/cli/pull/26) to be merged to publish CLI to the org and update docs accordingly.

[2019-02-14 12:29] nikolay-govorov commented on #345
@pepelsbey merge [shower/cli#26](https://github.com/shower/cli/pull/26). Do you need help updating the documentation?

[2019-02-14 12:46] pepelsbey commented on #345
Feel free to send a PR :) Let’s work on this together to make the best of it.

[2019-03-01 16:23] shurph commented on #292
The special _interface that would show previous slide, timer and speaker notes_ sounds like a really awesome feature!

@pepelsbey, could you please provide any updates about plans regarding this feature?

[2019-03-01 16:30] pepelsbey commented on #292
@shurph we haven’t started working on this yet. The next big priority after 3.0 release will be the touch-friendly interface, the next one could be the presenter mode.

[2019-03-05 18:43] ptrin commented on #184
@pepelsbey I'm looking for theme documentation, and the link above is broken now.  Does any theme documentation exist? I've created a theme by just modifying Material, but I'm looking for best practices etc. for creating and sharing themes.

[2019-03-05 19:25] pepelsbey commented on #184
@ptrin, see [shower/docs](https://github.com/shower/shower/blob/master/docs/features.md), but it’s a bit outdated :(

[2019-03-17 19:10] ishpartko opened #347 "new cloning way"
Could I add the new way to cloning repo in README.md?

Easy way to clone any project without console:

https://github.com/new/import

I could describe how to use it for our needs in readme

[2019-03-17 19:11] ishpartko commented on #347
Maybe we could add it, as additional way for cloning

[2019-03-17 19:13] ishpartko commented on #347
https://github.com/shower/shower/issues/345

[2019-03-17 19:16] pepelsbey commented on #347
Yeah, sure, go for it :)

[2019-03-26 16:20] varya commented on #338
I have a PR related to this issue with slightly different naming. Notifying people subscribed to this issue. https://github.com/shower/core/pull/140

[2019-04-04 03:41] sundy-li opened #349 "How to manage multiple presentations?"
Hi, I use shower to build presentations. But each project repo took too much disk (node_modules mostly), it's there any way to manager multiple presentations in one project?

[2019-04-04 10:25] pepelsbey commented on #349
Hi there,

There are two simple ways of starting a Shower presentation:

1. You can download an archive with all needed files: [shwr.me/shower.zip](https://shwr.me/shower.zip) and manage development on your own: save and reload or some local server with live-reload, like [live-server](https://www.npmjs.com/package/live-server).
2. Or you can use shower-cli tool to quickly start presentation in any

[2019-04-04 10:37] sundy-li commented on #349
Hi， thanks for for reply.
I think the first solution could be more suitable for me.

But I do think maybe the `shower-cli`  could add some options to support `node-modules` directory customization.
Eg.
[code]

It will create a project `sample`, and link the `node-modules` to the `../base/node-modules`.
All the presentations could use the base `node-modules` directories.  257 MB per project is very

[2019-04-04 10:39] pepelsbey commented on #349
Sounds good, I’d use it myself.

@nikolay-govorov what do you think?

[2019-04-04 10:42] sundy-li commented on #349
[code]

I use shower-cli to create project, it's 310M, my mac only has  128G and I'd like to save many projects  :)

[2019-04-05 07:14] kizu commented on #349
Maybe I am missing something, but can't we use multiple .html files for all the presentation in the same one folder? And if CLI doesn't support that yet, it could maybe support creating new html files instead of the whole folder when you're already inside a folder with a shower presentation?

[2019-04-05 07:55] pepelsbey commented on #349
Well, you can. But there’s no good system or just an idea for deploying and resource management.

[2019-05-02 18:34] nikolay-govorov commented on #349
Hey. I apologize for the long absence.

The main volume is `@shower/cli`. We can add the ability to use globally installed `@shower/cli` from the presentation, and locally put only `theme/core` and the like.

[2019-05-12 12:59] nikolay-govorov commented on #349
I figured without a locally installed `@shower/cli` `node_modules` would weigh about 1MB. @pepelsbey, @sundy-li, @kizu what do you think?

[2019-05-17 19:15] shvaikalesh commented on #347
Resolved by #348.

New cloning way is totally awesome.
Thank you, @ishpartko.

[2019-05-17 19:15] #347 closed

[2019-05-20 10:57] mfrigerio17 commented on #331
Markdown support should not be "internal" in shower, the ideal would be an extension to exisiting markdow engines to generate shower-compatible HTML.

@pepelsbey

I like this, totally agree

@pepelsbey

The whole presentation. Markdown allows to insert regular html code, which is left untouched during the markdown-to-html conversion. So one can always resort to direct html programming to exploit t

[2019-05-23 10:51] pepelsbey commented on #331
@mfrigerio17 just like you I absolutely adore Markdown, I use it myself every day. But when it comes to not just writing structured plain text, but something a bit more complicated, I always switch to HTML.

For example, here’s the typical slide from the last presentation I made:

[code]

How am I supposed to write something like this in Markdown?

[2019-05-30 05:39] pepelsbey commented on #331
I can only see as a [CLI](https://github.com/shower/cli) feature that might work this way: you have your index.md with HTML/MD mix that can be converted to HTML and published.

I don’t see it as a part of the Shower itself. I won’t take MD in HTML files option seriously, like Reveal.js unfortunately does.

@nikolay-govorov, what do you think?

[2019-05-31 14:35] nikolay-govorov commented on #331
We can discuss the possibility of passing in a CLI not `index.html`, and `index.md`, but it is important to understand that now shower `just works` — CLI adds, but does not take away. Markdown support breaks backward compatibility.

In addition, you may need Markdown — a rather limited syntax. I'm not sure sewing it into the CLI is a good idea. Perhaps we should make it possible to add third-party

[2019-06-18 02:48] sundy-li commented on #349
Sounds great, will this feature be released in the future？

[2019-06-20 17:15] DylanVanAssche opened #351 "Hidden slides"
I was wondering if there's builtin support for hidden slides.
In PowerPoint/LibreOffice Impress you can hide slides from your presentation.
In edit mode, they are still visible but not when you present your presentation.

Does Shower have already support for this feature?
I couldn't find any issue or PR related to this, that's why I'm opening this issue.

[2019-06-20 17:20] pepelsbey commented on #351
Sounds like a great idea to me! How about:

[code]

This’ll just work out the box, but in list mode theme will override hidden’s `display: none` with `block`.

[2019-06-20 17:21] pepelsbey commented on #351
This might be a pretty quick feature to implement. But if you need something else, like a shortcut for hiding and showing such slides, this might take longer.

[2019-06-20 19:35] DylanVanAssche commented on #351
I like the `hidden` approach with an override in list mode. It would be handy to show with a symbol or something else that the slide is hidden when presenting.

If you click on the slide in list mode, the slide must be viewable, but not in presentation mode.

[2019-06-20 20:24] pepelsbey commented on #351
Marking hidden slide is not a big deal, but showing it in the presentation mode would require Shower plugin written in JS, not just a theme update. And this makes it a little more complicated since Shower 3.0 with shiny new plugin system is not released yet.

But let’s draft such plugin right in this issue. Please tell what exactly you think should happen when hidden slide is clicked in the list m

[2019-06-23 07:46] DylanVanAssche commented on #351
If you click the slide in list mode, I should suggest that you can view it.
Navigation after clicking on a hidden slide, might be difficult.
Do we keep the hidden slide temporally enabled (during the current slide show) or not?

[2019-09-30 06:46] drdwitte commented on #228
I noticed that pressing 'Esc' brings back the overview. Can this event be triggered in a different way?

[2019-12-26 11:41] jackpgao commented on #331
+1

[2020-02-04 15:07] avdeev opened #353 "Failing npm install or npm ci"
Since NPM 6.12 (https://github.com/npm/cli/releases/tag/v6.12.0) `npm ci` and probably `npm install` runs prepare script for git dependencies. This new behavior calls `prepare` script before the dependencies are installed and causes an error.

[code]

I suggest renaming `prepare` in  to something different. For example, we can use `build`.

Now, we need to use `npm install --ignore-scripts` to suc

[2020-02-05 17:38] pepelsbey commented on #353
I have the following versions of Node and npm and I don’t see any problems with the name of the script:

[code]

I don’t think it means `npm run prepare`, it’s just a word, not the script name. Is it?

[2020-02-06 11:07] avdeev commented on #353
@pepelsbey The NPM documentation says this is the default script name.

https://docs.npmjs.com/misc/scripts

Maybe this is my mistake. I'll investigate. But renaming `prepare` to `build` fixed my error.

[2020-02-06 12:59] pepelsbey commented on #353
I don’t mind renaming script to build, it would be the safe option. I’ll prepare PR and will ask you for review :)

[2020-03-05 14:48] alex-mironov opened #355 "Is it possible to zoom in/out the plates when navigating"
If I use this library, is there a possibility to animate the plates on navigation like this https://work.co/?

[2020-04-03 11:43] pepelsbey commented on #355
Sorry for the late reply. Currently it’s not built-in. But you can change the styles for the navigation between slides in presentation mode, [see example](https://github.com/shower/ribbon/blob/master/styles/slide/slide-full.css) from the Ribbon theme.

[2020-04-13 17:06] csarven opened #356 "Add option to disable history state change on modechange"
re https://github.com/shower/core/commit/3ad992891d70926054ec285cd2afcf97bb045abf#diff-59f7cf43ae51544e76abf1aa614bd810R5

On enterFullScreen, history state is updated to include "?full" in the URL. This application state need not be exposed as it creates the affordance to share such link. In other words, it ties the URL to the application (JavaScript) and it has no particular use otherwise.

Ther

[2020-04-13 22:31] pepelsbey commented on #356
I though you have a number of options here, which is rather a good thing, right?

- `/my-slides/` — list mode, no slides selected
- `/my-slides/#10` — `#10` slide selected in list mode
- `/my-slides/?full#10` — `#10` slide selected in full mode

By changing the state of your slides you’re choosing how exactly you want it to be opened. So if you’re on `#10` slide in full mode and want to share it i

[2020-04-14 07:50] csarven commented on #356
I've shared a use case that goes beyond the transnational read-first (only?) approach to using slides. It showcases how write can work ie. how another application can create, edit, and annotate slides from the Web browser. That interactivity is arguably best realised in fullscreen mode. However, Shower imposes its view in the URL (while in full mode) on all other applications that may be sharing t

[2020-04-14 09:28] pepelsbey commented on #356
Right, now I see where you’re coming from. You want Shower to default in full mode instead of list. There’s a way to do this:

[code]

By changing the root class name in your HTML you can set the default mode. Does this `?full` parameter bothers you less now?

[2020-04-14 10:56] csarven commented on #356
No because ?full still exists. Loading /#10 updates history to /?full#10.

[2020-04-14 11:05] pepelsbey commented on #356
Loading `#10` won’t update your URL to `?full#10` unless you have `<body class="shower full">` in your HTML. But if you’ll go to full mode then the `?full#10` will appear indicating the mode you’re in.

I’m currently leaning toward decision to keep this feature as is and release shower-core 3 with it. But once I get more feedback from the users I’ll see if it’s worth adding an option.

Meanwhile y

[2020-04-14 11:39] RubenVerborgh commented on #356
Any way to make it pluggable?

[2020-04-14 11:42] pepelsbey commented on #356
@RubenVerborgh, do you mean “move it into a default plugin” (so it would be possible to disable) or “make a plugin that could disable it”?

[2020-04-14 11:47] RubenVerborgh commented on #356
Separate the URL parsing and generation stuff into a default plugin, so you can override it with another plugin. (Disabling wouldn't be an option.)

[2020-04-14 12:57] csarven commented on #356
Right. That's what you've suggested earlier.. and asked whether that bothered me less. I'm just saying that it didn't change the primary "issue" for me because ?full sticks regardless of the default set in HTML or what's activated by default (if not found ie. list).

I have no strong preference on the possibility of how this can be essentially disabled as long as it is possible.. but I hthink opti

[2020-05-12 02:42] korenevskiy opened #357 "Please add navigate mouse."
Will there be support for mouse control?
The presentation is managed by the speaker, excellent.
But then this presentation is opened on the site by a normal user, this user can only control either the mouse or gestures.

[2020-05-12 06:30] pepelsbey commented on #357
Why do you think that keyboard navigation is not enough? “Normal” user would probably go through slides in list mode by scrolling. As for the speakers, they can also use clickers to navigate.

[2020-05-13 14:55] korenevskiy commented on #357
We can talk as much as we want about the need to initially develop a site for mobile phones.
However, Shower only works on a PC and only with the keyboard.
Please see how the [fancybox](http://fancyapps.com/fancybox/3/) js module for images works.
. It can be swiped to move, it can be moved with the mouse, it can be increased, and so on.
Imagine how Sberbank bought 1000 liquid crystal panels in Ru

[2020-05-13 15:06] pepelsbey commented on #357
Shower is not a slideshow tool (like Fancybox, Fotorama, etc.), though there’s a way to [put a timer on a slide](https://github.com/shower/ribbon/blob/master/index.html#L619-L621). It’s a slide deck and made for presentations. So it meant to be used mostly by speakers on a stage with a clicker in their hands or a keyboard withing a reach (see [a number of shortcuts](https://github.com/shower/showe

[2020-05-20 10:20] korenevskiy commented on #357
This plugin can do much more. But alas, it has a narrow purpose. Most likely in half a year people will create a fork of it. And continue to adapt to any screens and manipulators.
At the moment, this module cannot be installed, for example, on your site, on the site of clients, on the site in any CMS so that any teacher, schoolchild, student, or coach can use it. Without a high level of input to t

[2020-05-20 10:26] pepelsbey commented on #357
This project is more that 10 years old and it’s still serving its purpose.

Thank you for making your point, though.

[2020-05-20 10:26] #357 closed

[2020-05-23 17:57] #167 closed

[2020-05-27 22:18] #186 closed

[2020-05-27 22:18] #338 closed

[2020-05-27 22:21] pepelsbey opened #358 "Wait until the slide change before closing next sequence"
Here’s another idea: since we’re already changing next plugin, why don’t we introduce another change :)

It would be good to wait until the next slide before closing the way back to previous steps. Meaning that you can go to the very last step of a sequence and still be able to go back step by step. Currently it’s not possible from the last one.

But once you’re on the next slide, there’s no turni